<div class="container-wrapper-div">
  <div class="p-0">
    <header class="container-fluid p-0">
      <div class="shop-header">
        <span class="app-name" style="width: 248px"> storefront </span>
        <mat-form-field appearance="fill">
          <mat-select
            [(ngModel)]="dataService.selectedStore"
            (ngModelChange)="onSelectedStoreChange($event)"
          >
            <span
              style="
                display: flex;
                justify-content: space-between;
                padding: 1rem;
              "
            >
              <span>Last Site Opened</span>
              <button
                (click)="createNewStore()"
                mat-flat-button
                style="color: #0f3cd9"
              >
                <img
                  src="/assets/icons/create_new_store.svg"
                  alt=""
                  srcset=""
                />
                Create New Store
              </button>
            </span>
            <mat-select-trigger *ngIf="dataService.selectedStore">
              {{ dataService.selectedStore["storeName"] }}
            </mat-select-trigger>
            <mat-option *ngFor="let store of stores" [value]="store">
              <div class="stores-list">
                <span
                  ><img
                    class="option-image"
                    style="height: -webkit-fill-available"
                    src="/assets/images/black-bag.png"
                /></span>
                <span class="store-info">
                  <span>{{ store["storeName"] }}</span>
                  <span style="font-size: small">Role: Owner</span>
                </span>
                <span>
                  <mat-icon
                    style="margin-left: auto"
                    *ngIf="!dataService.selectedStore"
                    >visibility</mat-icon
                  >
                  <mat-icon
                    style="margin-left: auto"
                    *ngIf="dataService.selectedStore"
                    >visibility_off</mat-icon
                  >
                </span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="user-info">
          <div class="profile-image-container">
            <span class="nav-dp">
              {{ nameInitial }}
            </span>
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="6"
                cy="6"
                r="4.75"
                fill="#2FD181"
                stroke="white"
                stroke-width="1.5"
              />
            </svg>
          </div>
          <button  id="tourStepNine"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="pt-0">
            <div class="merchant-dp">
              <span class="dp-image">
                {{ nameInitial }}
              </span>
              <span>{{ userName }}</span>
            </div>
            <hr class="m-1" />
            <button mat-menu-item>
              <mat-icon>
                <svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M18.32 8.70017C19.03 8.31017 19.9 8.82017 19.89 9.63017L19.85 15.0502C19.84 15.8702 18.95 16.3702 18.25 15.9502L13.57 13.1502C12.87 12.7302 12.89 11.7102 13.6 11.3202L18.32 8.70017ZM19.75 6.28017C19.9 6.66017 19.67 7.05017 19.31 7.25017L13.68 10.3602C12.88 10.8002 11.94 10.0902 12.14 9.21017L13.36 3.68017C13.51 2.98017 14.3 2.64017 14.92 2.99017L18.84 5.23017C19.27 5.48017 19.58 5.85017 19.75 6.28017Z"
                    fill="black"
                  />
                  <path
                    d="M12.51 2.67214L10.44 11.9721C10.41 12.1121 10.41 12.2621 10.44 12.4121L12.17 21.0921C12.29 21.6921 11.78 22.2621 11.28 21.8921L5.98998 18.1221C5.42998 17.7221 5.09998 17.0821 5.09998 16.4021V7.09214C5.09998 6.33214 5.49998 5.63214 6.16998 5.25214L11.46 2.24214C11.61 2.15214 11.77 2.09214 11.93 2.04214C12.31 1.91214 12.59 2.29214 12.51 2.67214Z"
                    fill="black"
                  />
                  <path
                    d="M18.129 16.8102C18.779 17.2002 18.819 18.1302 18.209 18.5702L14.739 21.0902C14.119 21.5402 13.229 21.2002 13.079 20.4402L12.059 15.2402C11.879 14.3402 12.849 13.6602 13.639 14.1302L18.129 16.8102Z"
                    fill="black"
                  />
                </svg>
              </mat-icon>
              <span>Domains</span>
            </button>
            <button mat-menu-item>
              <mat-icon>headphones</mat-icon>
              <span>Help Center</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <span style="margin-right: 1rem"
                ><svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17.3 2H14.7C11.5 2 9.5 4 9.5 7.2V11.25H15.75C16.16 11.25 16.5 11.59 16.5 12C16.5 12.41 16.16 12.75 15.75 12.75H9.5V16.8C9.5 20 11.5 22 14.7 22H17.29C20.49 22 22.49 20 22.49 16.8V7.2C22.5 4 20.5 2 17.3 2Z"
                    fill="black"
                  />
                  <path
                    d="M5.06104 11.25L7.13104 9.18005C7.28104 9.03005 7.35104 8.84004 7.35104 8.65004C7.35104 8.46004 7.28104 8.26005 7.13104 8.12005C6.9899 7.98056 6.79947 7.90234 6.60104 7.90234C6.40261 7.90234 6.21218 7.98056 6.07104 8.12005L2.72104 11.47C2.43104 11.76 2.43104 12.24 2.72104 12.53L6.07104 15.88C6.36104 16.17 6.84104 16.17 7.13104 15.88C7.42104 15.59 7.42104 15.11 7.13104 14.82L5.06104 12.75H9.50104V11.25H5.06104Z"
                    fill="black"
                  /></svg
              ></span>
              <span>Logout</span>
            </button>
            <button mat-menu-item>
              <mat-icon>language</mat-icon>
              <span>English</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </header>
  </div>
  <mat-drawer-container class="container-fluid p-0 test">
    <mat-drawer
      #drawer
      mode="side"
      [opened]="true"
      class="side-nav mat-elevated-z4"
    >
      <ul id="tourStepOne">
        <li id="tourStepTwo" [routerLink]="['home']" routerLinkActive="active-link">
          <img
            src="/assets/icons/home_icon.svg"
            alt=""
            srcset=""
            style="margin-right: 0.5rem"
          />
          <span>Home</span>
        </li>
        <li id="tourStepThree" [routerLink]="['product']" routerLinkActive="active-link">
          <img
            src="/assets/icons/favourite_icon.svg"
            alt=""
            srcset=""
            style="margin-right: 0.5rem"
          />
          <span>Product</span>
        </li>
        <li id="tourStepFour" [routerLink]="['discount']" routerLinkActive="active-link">
          <img
            src="/assets/icons/discount_icon.svg"
            alt=""
            srcset=""
            style="margin-right: 0.5rem"
          />
          <span>Discount</span>
        </li>
        <li id="tourStepFive" [routerLink]="['reviews']" routerLinkActive="active-link">
          <img
            src="/assets/icons/payment_opt.svg"
            alt=""
            srcset=""
            style="margin-right: 0.5rem"
          />
          <span>Reviews</span>
        </li>
        <li id="tourStepSix" [routerLink]="['order']" routerLinkActive="active-link">
          <img
            src="/assets/icons/order_icon.svg"
            alt=""
            srcset=""
            style="margin-right: 0.5rem"
          />
          <span>Orders</span>
        </li>
        <li id="tourStepSeven" [routerLink]="['customers']" routerLinkActive="active-link">
          <img
            src="/assets/icons/customer_icon.svg"
            alt=""
            srcset=""
            style="margin-right: 0.5rem"
          />
          <span>Customers</span>
        </li>
        <li id="tourStepEight" [routerLink]="['analytics']" routerLinkActive="active-link">
          <img
            src="/assets/icons/payout_icon.svg"
            alt=""
            srcset=""
            style="margin-right: 0.5rem"
          />
          <span>Payout</span>
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet />
    </mat-drawer-content>
  </mat-drawer-container>
</div>
