<section class="about-us container-fluid">
  <h1 [innerText]="dataService.template.contactUs.contactMessage" class="contact-us-header"></h1>
  <!-- <div contenteditable="true" class="editor" (input)="onInput($event)"></div> -->
  <div class="d-flex align-items-center justify-content-between contact-blocks">
    <div class="get-in-touch-div">
      <h1 class="get-in-touch-header" [innerText]="dataService.template.contactUs.leftPanelInfo.heading"></h1>
      <p class="get-in-touch-paragraph about-us-paragraph" [innerText]="dataService.template.contactUs.leftPanelInfo.pTag"></p>
      <p class="telephone about-us-paragraph">
        <img
          src="assets\icons\contact-us-telephone.svg"
          alt=""
          class="contact-us-icon"
        /><a href="" [innerText]="dataService.template.contactUs.leftPanelInfo.phone"></a>
      </p>
      <p class="email about-us-paragraph">
        <img
          src="assets\icons\contact-us-message.svg"
          alt=""
          class="contact-us-icon"
        /><a href="mailto:demo@gmail.com" [innerText]="dataService.template.contactUs.leftPanelInfo.email"></a>
      </p>
      <div class="location d-flex justify-content-center align-items-normal">
        <div class="location-image me-2">
          <img
            src="assets\icons\contact-us-location.svg"
            alt=""
            class="contact-us-icon"
          />
        </div>
        <p class="location about-us-paragraph"[innerText]="dataService.template.contactUs.leftPanelInfo.location"></p>
      </div>
    </div>
    <div class="contact-us-form-div">
      <h3 class="enter-details-header">ENTER DETAILS</h3>
      <form action="#" method="post">
        <div
          class="form-group d-flex justify-content-between align-items-center name-email"
        >
          <div class="full-name">
            <label for="fullname">Full Name:</label>
            <input
              type="text"
              id="fullname"
              name="fullname"
              class="form-control"
            />
          </div>
          <div class="email">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" class="form-control" />
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea
            id="message"
            name="message"
            rows="4"
            class="form-control"
          ></textarea>
        </div>

        <button class="btn btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
