section.about-us {
  background-image: url("../../../../../../assets/images/about-us-backgroud.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .contact-us-header {
    color: #1c222b;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2.3px;
    margin-top: 3rem;
  }
  .contact-blocks {
    padding: 5rem;
  }
  .get-in-touch-div {
    width: 40%;
    border-radius: 6px;
    background-color: rgba(253, 253, 253, 0.8);
    padding: 2rem;
    .get-in-touch-header {
      color: #1c222b;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.5px;
    }
    p {
      color: #1c222b;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.3px;
      margin-bottom: 2rem;
      .contact-us-icon {
        margin-right: 1rem;
      }
    }
  }
  .contact-us-form-div {
    width: 45%;
    background-color: rgba(253, 253, 253, 0.8);
    border-radius: 6px;
    padding: 2rem;
    .enter-details-header {
      color: #1c222b;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.3px;
    }
    .form-group {
      margin-bottom: 1.5rem;
      color: #1c222b;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
    .btn {
      background-color: #000;
      padding: 12px 32px;
      color: #ffff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.3px;
      border-radius: 0;
    }
  }
}

@media (max-width: 992px) {
  .contact-us-header {
    color: #1c222b;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
  section.about-us .contact-blocks {
    display: block !important;
    padding: 0;
  }
  section.about-us .contact-us-form-div {
    width: 100%;
  }
  section.about-us .get-in-touch-div {
    width: 100%;
  }
}

// .editor {
//   border: 1px solid #ccc;
//   min-height: 200px;
//   padding: 10px;
// }