section.about-us {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .contact-us-header {
    letter-spacing: -2.3px;
    margin-top: 3rem;
  }
  .contact-blocks {
    padding: 5rem;
    margin: 5rem;
  }
  .get-in-touch-div {
    width: 40%;
    border-radius: 6px;
    background-color: rgba(253, 253, 253, 0.8);
    padding: 2rem;
    .get-in-touch-header {
      font-style: normal;
      line-height: 36px;
      letter-spacing: -0.5px;
    }
    p {
      font-family: Inter;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.3px;
      margin-bottom: 2rem;
      .contact-us-icon {
        margin-right: 1rem;
      }
    }
  }
  .contact-us-form-div {
    width: 45%;
    background-color: rgba(253, 253, 253, 0.8);
    border-radius: 6px;
    padding: 2rem;
    .enter-details-header {
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.3px;
    }
    .form-group {
      margin-bottom: 1.5rem;
      text-align: start;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
    .btn {
      padding: 12px 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
  }
}
@media (max-width: 992px) {
  .contact-us-header {
    color: #1C222B;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
  section.about-us .contact-blocks {
    display: block !important;
    padding: 0;
  }
  section.about-us .contact-us-form-div {
    width: 100%;
  }
  section.about-us .get-in-touch-div {
    width: 100%;
  }
}