<div class="container-fluid" 
  [style.background]="dataservice.template.primaryBackground"
  [style.fontFamily]="dataservice.template.fontFamily"
  [style.textAlign]="dataservice.template.textAlign"
  [style.color]="dataservice.template.primaryColor">
  <section class="container-fluid d-flex level-up main-comp">
    <div [style]="dataservice.template.headings.heroHeading.bgImage">
      <h1 [innerText]="dataservice.template.headings.heroHeading.text" [style]="dataservice.template.headings.heroHeading.styles">
      </h1>
      <button [style]="dataservice.template.buttons">{{dataservice.template.headings.heroHeading.btnText}}</button>
    </div>
    <div [ngClass]="!dataservice.isEditable ? 'd-none' : 'overlay edit-btn-block'" >
      <button
        class="edit-btn"
        mat-icon-button
        (click)="openFileInput(fileInput3)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <input
        type="file"
        name=""
        #fileInput3
        style="display: none"
        (change)="onSelectFile($event, 'hero')"
      />
      <button class="edit-btn" mat-icon-button (click)="showLink()">
        <mat-icon>link</mat-icon>
      </button>
      <button class="edit-btn" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <div class="input-link-div" *ngIf="dataservice.inputLinkVisibility[2]">
        <input
          type="text"
          class="input-link"
          name="inputlink"
          id="input-link"
          placeholder="Input Link here"
        />
      </div>
    </div>
  </section>
  <section class="container-fluid categories-container">
    <div class="section-header">Categories</div>
    <div class="categories">
      @for(category of dataservice.productCategory; track category){
        <div style="position: relative;" class="cat">
          <img class="w-100" src="assets/images/ecommerce-home-dresses.svg" alt="" />
          <div class="overlay">
            <span >{{category.name}}</span>
          </div>
          
        </div>
      }
    </div>

    <div class="row second-row-percent">
      <div class="col percent-image-div main-comp p-0" style="position: relative;">
        <img [src]="dataservice.template.sectionTwo.twoSection.image" alt="two ladies in red" class="two-ladies" />
        
        <div [ngClass]="!dataservice.isEditable ? 'd-none' : 'overlay edit-btn-block'" >
          <button
            class="edit-btn"
            mat-icon-button
            (click)="openFileInput(fileInput3)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <input
            type="file"
            name=""
            #fileInput3
            style="display: none"
            (change)="onSelectFile($event, 'twoSection')"
          />
          <button class="edit-btn" mat-icon-button (click)="showLink()">
            <mat-icon>link</mat-icon>
          </button>
          <button class="edit-btn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <div class="input-link-div" *ngIf="dataservice.inputLinkVisibility[2]">
            <input
              type="text"
              class="input-link"
              name="inputlink"
              id="input-link"
              placeholder="Input Link here"
            />
          </div>
        </div>
      </div>
      <div
        class="col percent-block d-flex flex-column align-items-center justify-content-center p-0"
      >
        <h2 class="upto-40-percent">{{dataservice.template.sectionTwo.twoSection.text.discount}}</h2>
        <p class="special-offers">{{dataservice.template.sectionTwo.twoSection.text.otherText}}</p>
        <button class="btn shop-now">SHOP NOW</button>
      </div>
    </div>
  </section>

  <section class="featured-items container-fluid">
    <div class="featured-items-header">{{dataservice.template.sectionThree.name}}</div>
    <div
      class="row justify-content-between row-cols-4 w-100"
    >
    @for(product of dataservice.products; track product){
        <div [routerLink]="['/ecommerce/shop',product.id]" (click)="goToProduct()">
          <div class="card" style="width: 22rem">
            <img
              [src]="product.images[0].url"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <div
                class="product-name d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title">{{product.category}}</h5>
                <div class="product-btn">
                  <button class="heart nav-icons" color="primary" mat-icon-button>
                    <mat-icon>favorite_border</mat-icon>
                  </button>
                  <button class="cart nav-icons" color="primary" mat-icon-button>
                    <mat-icon>shopping_cart</mat-icon>
                  </button>
                </div>
              </div>
              <p class="blossom-bag-paragraph">{{product.name}}</p>
              <div class="ratings">
                <img src="assets/images/star-rating.svg" alt="ratings" />
                <img src="assets/images/star-rating.svg" alt="ratings" />
                <img src="assets/images/star-rating.svg" alt="ratings" />
                <img src="assets/images/star-rating.svg" alt="ratings" />
                <img src="assets/images/star-rating-unfilled.svg" alt="" />
                <span class="ratings-43">43 Ratings </span>
              </div>
              <div class="product-price">${{product.price}}</div>
              <div class="product-color-div d-flex">
                <div class="blue product-color"></div>
                <div class="yellow product-color"></div>
                <div class="voilet product-color"></div>
                <div class="red product-color"></div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
</div>
