.edit-btn-block {
  width: 25%;
  gap: 1rem;
  .edit-btn {
    border-radius: 50%;
    background-color: #fff;
    margin-right: 0.5rem;
    width: 1.9rem;
    height: 1.7rem;
    padding: 0;
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
  }
}
.card-container {
  margin-top: 3rem;
}

::ng-deep .mat-mdc-mini-fab {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  color: inherit; 
  box-shadow: var(--mdc-fab-container-elevation-shadow);
}

.overlay{
  position: absolute;
  z-index: 21;
  bottom: 10%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.main-comp {
  position: relative;
  .hero-overlay {
    position: absolute;
    z-index: 5;
  }
  .overlay-backdrop {
    position: absolute;
    height: 50rem;
    width: 100%;
    z-index: 3;
    opacity: 20%;
    background-color: lightgray;
    opacity: 50%;
  }
}
.two-sec{
  display: grid;
  grid-template-columns: 60% auto;
}

.overlay[_ngcontent-ng-c2358694546] {
  position: absolute;
  z-index: 21;
  bottom: 10%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-link-div {
  margin-top: 0;

  .input-link {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    border: none;
    border-color: transparent;
  }
}
section.level-up {
  button {
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.3px;
  }


  .bg-image {
    background: linear-gradient(
        148deg,
        rgba(255, 255, 255, 0.5) 54.97%,
        rgba(255, 255, 255, 0) 109.02%
      ),
      url("/assets/images/shopping-image.jpeg"), lightgray 50% / cover no-repeat;
    background-size: cover;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1.home-header {
      font-style: normal;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -2.3px;
      text-transform: uppercase;
      width: 80%;
    }
  }
}
section.categories {
  .section-header {
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.5px;
    margin: 3rem 0;
  }
  .category-selections {
    object-fit: fill;
    gap: 1rem;
    .accessories-shoe {
      overflow: hidden;
    }
    div.accessories-shoe img.accessories {
      margin-bottom: 1rem;
    }
  }
  .second-row-percent {
    margin: 3rem 0;
    background-color: #1b4dff;
    width: 100%;
    .percent-image-div {
      .two-ladies {
        object-fit: contain;
        height: 28rem;
      }
    }
  }
}
.two-ladies {
  object-fit: cover;
  height: 28rem;
}
.percent-block {
  background-color: #f2f2f2;

  h2.upto-40-percent {
    font-style: normal;
    letter-spacing: -1.75px;
    margin-bottom: 2rem;
  }
  p.special-offers {
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.3px;
  }
  button.shop-now {
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.3px;
    background-color: transparent;
    border: 1px solid #1c222b;
    border-radius: 0;
    padding: 1rem 3rem;
    margin-bottom: 4rem;
  }
}
section.featured-items {
  margin: 5rem 0;
  text-align: center;
  .featured-items-header {
    letter-spacing: -0.5px;
  }
  .card {
    text-align: left;
    margin-top: 2rem;
    height: 30rem;
  }
  div.card {
    border: 0;
    .card-body {
      padding: 0.5rem;
    }
    .card-img {
      height: 50%;
    }
    .card-title {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.3px;
      margin: 0;
      text-transform: capitalize;
    }
    .blossom-bag-paragraph {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: capitalize;
    }

    .product-price {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.3px;
      margin-bottom: 1rem;
      .discount-price {
        color: #1c222b;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.3px;
      }
      .actual-price {
        color: #afbaca;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; 
        text-decoration: line-through;
      }
      .discount-percent {
        color: #d21a0e;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    div.ratings {
      margin-bottom: 1rem;
      .ratings-43 {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-left: 2.5rem;
      }
    }
    div.product-color-div {
      div.product-color {
        width: 17px;
        height: 17px;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
      }
      .blue {
        background-color: #1b4dff;
      }
      div.yellow {
        background-color: #ffd027;
      }
      div.voilet {
        background-color: #8f0ea2;
      }
      div.red {
        background-color: #e92215;
      }
    }
  }
}
.categories {
  .cats {
    background-color: lightblue;
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }
}
.categories-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  gap: 2rem;
}

@media (max-width: 441px) {
  #hero-overlay{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
}

@media (max-width: 992px) {

  .two-sec{
    display: grid;
    grid-template-columns:auto;
  }
  section.categories {
    .category-selections {
      flex-direction: column;
      .accessories-shoe {
        overflow: hidden;
      }
    }
  }
  section.level-up .bg-image h1.h1.home-header {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
  .container-fluid {
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
    .second-row-percent {
      display: flex;
      flex-direction: column;
      img.two-ladies {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .card {
    display: block;
    margin: 0 auto;
  }
  .container-list-1 {
    display: none !important;
  }
  .container-list-2 {
    flex-direction: column;
  }
}

.liked {
  color: red;
}
