<div class="container-fluid">
  <section class="container-fluid d-flex level-up main-comp">
    <div class="bg-image">
      <h1 class="h1 home-header">
        level up your style with our summer collections
      </h1>
      <button class="btn">SHOP NOW</button>
    </div>
    <div class="overlay edit-btn-block">
      <button class="edit-btn" mat-icon-button (click)="openFileInput()">
        <mat-icon>edit</mat-icon>
      </button>
      <input
        type="file"
        name=""
        #fileInput
        style="display: none"
        (change)="onselectFile($event)"
      />
      <button class="edit-btn" mat-icon-button (click)="showLink()">
        <mat-icon>link</mat-icon>
      </button>
      <button class="edit-btn" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <div class="input-link-div" *ngIf="showInputLink">
        <input
          type="text"
          class="input-link"
          name="inputlink"
          id="input-link"
          placeholder="Input Link here"
        />
      </div>
    </div>
  </section>
  <section class="categories container-fluid">
    <div class="section-header">CATEGORIES</div>
    <div class="d-flex category-selections justify-content-between">
      <img class="" [src]="url" alt="" />
      <img class="" src="assets\images\ecommerce-home-tops.svg" alt="" />
      <div class="d-flex flex-column accessories-shoe">
        <div class="main-comp">
          <img
            class="accessories"
            src="assets\images\ecommerce-home-accesories.svg"
            alt=""
          />
          <div class="edit-btn-block overlay">
            <button class="edit-btn" mat-icon-button (click)="openFileInput()">
              <mat-icon>edit</mat-icon>
            </button>
            <input
              type="file"
              name=""
              #fileInput
              style="display: none"
              (change)="onselectFile($event)"
            />
            <button class="edit-btn" mat-icon-button (click)="showLink()">
              <mat-icon>link</mat-icon>
            </button>
            <button class="edit-btn" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
            <div class="input-link-div" *ngIf="showInputLink">
              <input
                type="text"
                class="input-link"
                name="inputlink"
                id="input-link"
                placeholder="Input Link here"
              />
            </div>
          </div>
        </div>
        <div class="main-comp">
          <img
            class=""
            src="assets\images\ecommerce-home-sneakers.svg"
            alt=""
          />
          <div class="edit-btn-block overlay">
            <button class="edit-btn" mat-icon-button (click)="openFileInput()">
              <mat-icon>edit</mat-icon>
            </button>
            <input
              type="file"
              name=""
              #fileInput
              style="display: none"
              (change)="onselectFile($event)"
            />
            <button class="edit-btn" mat-icon-button (click)="showLink()">
              <mat-icon>link</mat-icon>
            </button>
            <button class="edit-btn" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
            <div class="input-link-div" *ngIf="showInputLink">
              <input
                type="text"
                class="input-link"
                name="inputlink"
                id="input-link"
                placeholder="Input Link here"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row second-row-percent">
      <div class="col percent-image-div main-comp">
        <img
          src="assets\images\ecommerce-home-two-ladies.svg"
          alt="two ladies in red"
          class="two-ladies"
        />
        <div class="edit-btn-block overlay">
          <button class="edit-btn" mat-icon-button (click)="openFileInput()">
            <mat-icon>edit</mat-icon>
          </button>
          <input
            type="file"
            name=""
            #fileInput
            style="display: none"
            (change)="onselectFile($event)"
          />
          <button class="edit-btn" mat-icon-button (click)="showLink()">
            <mat-icon>link</mat-icon>
          </button>
          <button class="edit-btn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <div class="input-link-div" *ngIf="showInputLink">
            <input
              type="text"
              class="input-link"
              name="inputlink"
              id="input-link"
              placeholder="Input Link here"
            />
          </div>
        </div>
      </div>
      <div
        class="col percent-block d-flex flex-column align-items-center justify-content-center"
      >
        <h2 class="upto-40-percent">UPTO 40% OFF</h2>
        <p class="special-offers">Special offers and great deals</p>
        <button class="btn shop-now">SHOP NOW</button>
      </div>
    </div>
  </section>

  <section class="featured-items container-fluid">
    <div class="featured-items-header">Featured Items</div>
    <div class="card" style="width: 18rem">
      <img
        src="assets\images\featured-accesories-rings.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <div
          class="product-name d-flex justify-content-between align-items-center"
        >
          <h5 class="card-title">ACCESORIES</h5>
          <div class="product-btn">
            <button class="heart nav-icons" color="primary" mat-icon-button>
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button class="cart nav-icons" color="primary" mat-icon-button>
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
        <p class="blossom-bag-paragraph">Blossom Bag</p>
        <div class="ratings">
          <img src="assets\images\star-rating.svg" alt="ratings" />
          <img src="assets\images\star-rating.svg" alt="ratings" />
          <img src="assets\images\star-rating.svg" alt="ratings" />
          <img src="assets\images\star-rating.svg" alt="ratings" />
          <img src="assets\images\star-rating-unfilled.svg" alt="" />
          <span class="ratings-43">43 Ratings </span>
        </div>
        <div class="product-price">$39.49</div>
        <div class="product-color-div d-flex">
          <div class="blue product-color"></div>
          <div class="yellow product-color"></div>
          <div class="voilet product-color"></div>
          <div class="red product-color"></div>
        </div>
      </div>
    </div>
  </section>
</div>
