<div class="container-fluid">
  <div class="frame">
    <div class="frame-1">
      <img src="/assets/images/reset-frame.jpg" alt="" srcset="" />
    </div>
    <div class="frame-2">
      <div class="frame-2-sub-container">
        <div class="title">
          <p>Storefront</p>
        </div>
        <div class="text-heading">
          <div class="reset-password">
            <h1>Check your email</h1>
          </div>
          <div class="text">
            <p>
              A link has been sent via your mail to reset password. For any
              questions or concerns, please don't hesitate to contact our
              support team at a support&#64;amalitech.com .
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
