<div class="container-fluid">
  <div class="container-header">
    <div class="progress-bar"></div>
    <div class="title">
      <p>Storefront</p>
    </div>
  </div>
  <form
    class="form"
    #authenticate="ngForm"
    [formGroup]="PasswordAuthCode"
    (ngSubmit)="submitCode(authenticate)"
  >
    <div class="frame-wrapper">
      <div class="frame">
        <div class="frame-header">
          <h1>Authentication</h1>
          <p>Please kindly enter the code sent to your email</p>
        </div>
        <div class="auth">
          <div class="rectangle-wrapper">
            <div class="rectangle">
              <input
                type="text"
                id=""
                name="auth"
                maxlength="1"
                name="keyOne"
                formControlName="keyOne"
              />
            </div>
            <div class="rectangle">
              <input
                type="text"
                id=""
                name="auth"
                maxlength="1"
                name="keyTwo"
                formControlName="keyTwo"
              />
            </div>
            <div class="rectangle">
              <input
                type="text"
                id=""
                name="auth"
                maxlength="1"
                name="keyThree"
                formControlName="keyThree"
              />
            </div>
            <div class="rectangle">
              <input
                type="text"
                id=""
                name="auth"
                maxlength="1"
                name="keyFour"
                formControlName="keyFour"
              />
            </div>
            <div class="rectangle">
              <input
                type="text"
                id=""
                name="auth"
                maxlength="1"
                name="keyFive"
                formControlName="keyFive"
              />
            </div>
            <div class="rectangle">
              <input
                type="text"
                id=""
                name="auth"
                maxlength="1"
                name="keySix"
                formControlName="keySix"
              />
            </div>
          </div>
          <div class="text">
            <p>Didn’t get, <a href="#">Resend</a></p>
            <p>
              <span class="help-block" *ngIf="error">
                {{ error }}
              </span>
            </p>
          </div>
          <button class="btn btn-primary" [disabled]="!authenticate.valid">
            <span class="continue-btn" *ngIf="!isLoading">Continue</span>
            <span class="loading" *ngIf="isLoading"
              ><img
                src="assets\icons\loading-btn-spinner.svg"
                alt="Loading.."
              />
              Loading...</span
            >
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
