<div class="container-fluid">
  <h2 mat-dialog-title>{{ data.name }}</h2>

  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Products">
        <table
          mat-table
          [dataSource]="productDataSource"
          class="mat-elevation-z8 table"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Product</th>
            <td mat-cell *matCellDef="let element">
              <div class="product-info d-flex align-items-center">
                <div class="product-images">
                  <img
                    [src]="element.images[0].url"
                    alt=""
                    style="width: 3rem; height: 3rem"
                    class="product-image"
                  />
                </div>
                <div class="product-name-date">
                  <div class="product-name">
                    {{ element.name }}
                  </div>
                  <div class="product-date">
                    {{ element.createdAt | date : "mediumDate" }}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">
              <span class="category text-display"> {{ element.category }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="inventory">
            <th mat-header-cell *matHeaderCellDef>Inventory</th>
            <td mat-cell *matCellDef="let element">
              <div class="text-display">
                <span class="inventory text-display"
                  >{{ element.quantity }} </span
                ><span> in stock</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
              <div class="text-display">
                $ <span class="amount text-display">{{ element.price }}</span>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div class="loading-spin" *ngIf="isLoading">
          <img src="assets\icons\loading-btn-spinner.svg" alt="Loading.." />
        </div>
        <div class="no-products" *ngIf="numberOfProducts == 0">
          No Products Under this Promotion
        </div>
        
      </mat-tab>
      <mat-tab label="Update Promotion" class="text-center">
        <form
          action="#"
          method="post"
          class="discount-form"
          #updateDiscount="ngForm"
          [formGroup]="discountUpdate"
          (ngSubmit)="onSubmit(updateDiscount)"
        >
          <div
            class="discount-head d-flex justify-content-between align-items-center"
          >
          
          </div>
          <div class="form-group discount-name">
            <label for="discount">Discount Name</label>
            <input
              type="text"
              id="discount"
              name="discount"
              class="form-control"
              placeholder="eg. Black Friday"
              formControlName="discountName"
            />
          </div>
          <div class="form-group d-flex align-items-center orders-quantity">
            <div class="applies-to">
              <label for="the-orders">Applies to</label>
              <select
                class="form-select"
                id="the-orders"
                formControlName="storeCategory"
              >
                <option selected>Selected Product</option>
                <option *ngFor="let cat of storeCategories">
                  {{ cat }}
                </option>
              </select>
            </div>
            <div class="discount-quantity">
              <label for="quantity"></label>
              <input
                type="number"
                id="quantity"
                name="quantity"
                class="form-control"
                placeholder="Quantity"
                formControlName="quantity"
                min="1"
                max="100"
              />
            </div>
          </div>
          <div class="discount-date d-flex align-items-center">
            <div class="form-group start-date">
              <label for="startDate">Start Date</label>
              <input
                type="date"
                id="startDate"
                name="startDate"
                class="form-control"
                placeholder="Start date"
                formControlName="startDate"
              />
            </div>
            <div class="form-group end-date">
              <label for="endDate">End</label>
              <input
                type="date"
                id="endDate"
                name="endDate"
                class="form-control"
                placeholder="End date"
                formControlName="endDate"
              />
            </div>
          </div>
          <div class="discount-btns" *ngIf="!isLoading">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!updateDiscount.valid"
            >
              Update Promotion
            </button>
          </div>
          <div class="loading-spin" *ngIf="isLoading">
            <img src="assets\icons\loading-btn-spinner.svg" alt="Loading.." />
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <hr />

  <button class="btn btn-danger" (click)="onDelete()" *ngIf="!deleteIsLoading">
    Delete Promotion
  </button>
  <div class="loading-spin" *ngIf="deleteIsLoading">
    <img src="assets\icons\loading-btn-spinner.svg" alt="Loading.." />
  </div>

  <hr />
</div>
