nav {
  background: #fff;
  margin-left: 3rem;
  margin-right: 3rem;
  box-shadow: 0px 2px 4px -2px rgba(45, 54, 67, 0.06),
    0px 4px 8px -2px rgba(45, 54, 67, 0.08);

  .get-started-btn {
    background-color: var(--bs-primary-bg-subtle);
    color: #1b4dff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
  }
  .log-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }
  .storefront-logo {
    color: #0085ff;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .nav-text {
    color: #455468;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
  }
}

#home {
  background-color: #9eeaed;
  display: flex;
  justify-content: space-between;
  article {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 50%;
    .hero-description {
      margin-left: 100px;
      padding-left: 8px;
      margin-top: 5rem;
      text-align: left;
      width: 75%;
    }
    h2 {
      font-family: Inter;
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 90px; 
      letter-spacing: -2.3px;
      margin-bottom: 1rem;
    }
    p {
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -0.3px;
      margin-bottom: 2.5rem;
    }

    .start-your-store {
      background-color: #f2f5ff;
      color: #1b4dff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; 
      letter-spacing: -0.3px;
      margin-right: 18px;
    }
    .customer-and-extend {
      color: #455468;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; 
      letter-spacing: -0.3px;
    }
  }
  .home-image-div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    .home-image {
      margin-right: 2rem;
    }
  }
  .customize-arrow {
    margin-left: 1rem;
  }
}
#about {
  padding: 10rem;
  padding-left: 0;
  margin-left: 2rem;
  position: relative;
  .second-image {
    position: absolute;
    left: 5rem;
  }
  article {
    margin: auto;
    padding: 4rem;
    text-align: left;

    .article-header {
      color: #1c222b;

      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -1px;
    }
    .article-paragraph {
      color: #1c222b;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -0.3px;
    }
  }
}
#testimonials {
  text-align: center;
  margin: 5rem 0;

  .testimonials-header {
    color: #101828;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.75px;
    margin-bottom: 3rem;
  }
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .arrow {
      color: #d9d9d9;
      height: 4rem;
    }
    .card-inner {
      padding: 2rem;
      margin-bottom: 1rem;
      text-align: left;
    }
    .card {
      border-radius: 1rem;
      background: #fff;
      border-style: none;
      box-shadow: 0px 32px 64px -12px rgba(45, 54, 67, 0.14);
    }
    .testimonials-info {
      margin-bottom: 1.2rem;

      .card-evelyn {
        .evelyn-name {
          color: #101828;
          font-family: Inter;
          font-size: 1rem;
          font-style: normal;
          font-weight: 900;
          line-height: 24px;
        }
        .starRating {
          width: 100%;
          object-fit: contain;
          img {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
      .evelyn-position {
        color: #101828;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      .testimonials-paragraph {
        color: #667085;
        text-align: center;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.3px;
      }
    }
  }
}
#teams {
  text-align: center;
  background-image: url("/assets/images/team-background-image.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .team-container {
    padding: 7% 0;
  }
  .team-heading {
    color: #1c222b;
    margin-bottom: 4rem;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.75px;
  }
  .teams-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }
  .team-name {
    color: #1c222b;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; 
    letter-spacing: -0.5px;
  }
  .team-role {
    color: #1c222b;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.3px;
  }
  .team-image {
    margin-bottom: 20px;
  }
}
footer {
  .footer-container {
    margin: 5% 10%;
    text-align: left;
    .social-media {
      cursor: pointer;
      margin-right: 4%;
    }
    ul {
      padding-left: 0;
    }
    li {
      list-style-type: none;
      text-align: left;
      margin: 3% 0;

      a {
        color: #1c222b;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: -0.2px;
        text-decoration: none;
      }
    }
  }
}
#agencies {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  padding: 5rem 5rem;
  background-image: url("/assets/images/agencies-background-image.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .agencies-header {
    color: #1c222b;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.75px;
  }
  .first-row {
    margin: 0 15rem;
    .fist-right-image {
      margin-right: 7rem;
      margin-top: 2rem;
    }
  }
  .second-row {
    .middle-block {
      position: relative;
      background-color: #fff;
      border-radius: 20px;
      width: 47rem;
      height: 20rem;
      text-align: center;
      box-shadow: 0px 18px 52.854px 0px rgba(215, 228, 249, 0.5);

      .block-paragraph {
        position: absolute;
        width: 51rem;

        margin-left: -2rem;
        color: #1c222b;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.3px;
        opacity: 0.6;
        text-align: left;
        padding: 1rem 2rem;
        box-shadow: 0px 18px 52.854px 0px rgba(215, 228, 249, 0.5);
        padding-top: 5rem;
        padding-bottom: 7rem;
        padding-left: 5rem;
        background-color: #fff;
        border-radius: 20px;
        background-image: url("/assets/images/middle-block-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        padding-right: 7rem;
      }
    }
  }
  .third-row {
    margin: 0 12rem;
    margin-top: 1.5rem;
    .third-right-image {
      margin-right: 5rem;
    }
  }
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .home-btns {
    margin-bottom: 1rem;
  }
  article.about-article {
    margin-left: 1rem;
  }
  #about {
    margin-left: 0;
    padding: 6rem;
    .about-article {
      margin-left: 3rem;
    }
    .first-image {
      position: absolute;
      left: 1rem;
    }
  }
}
