nav {
  background: #fff;
  margin-left: 3rem;
  margin-right: 3rem;
  /* Shadow / md */
  box-shadow: 0px 2px 4px -2px rgba(45, 54, 67, 0.06),
    0px 4px 8px -2px rgba(45, 54, 67, 0.08);

  .get-started-btn {
    background-color: var(--bs-primary-bg-subtle);
    color: #1b4dff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: -0.3px;
  }
  .log-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }
  .storefront-logo {
    color: #0085ff;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .nav-text {
    color: #455468;
    /* Paragraph: 4/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: -0.3px;
  }
}

#home {
  background-color: #9eeaed;
  display: flex;
  justify-content: space-between;
  article {
    margin-bottom: 0;
    padding-bottom: 0;
    .hero-description {
      margin-left: 100px;
      padding-left: 8px;
      margin-top: 5rem;
      text-align: left;
      width: 75%;
    }
    h2 {
      font-family: Inter;
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 90px; /* 125% */
      letter-spacing: -2.3px;
      margin-bottom: 1rem;
    }
    p {
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 160% */
      letter-spacing: -0.3px;
      margin-bottom: 2.5rem;
    }

    .start-your-store {
      background-color: #f2f5ff;
      color: #1b4dff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 175% */
      letter-spacing: -0.3px;
      margin-right: 18px;
    }
    .customer-and-extend {
      color: #455468;
      /* Paragraph: 4/Medium */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 175% */
      letter-spacing: -0.3px;
    }
  }
  .home-image-div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .customize-arrow {
    margin-left: 1rem;
  }
}
#about {
  padding: 5rem;
  padding-left: 0;
  article {
    margin: auto;
    padding: 4rem;
    text-align: left;

    .article-header {
      color: #1c222b;

      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -1px;
    }
    .article-paragraph {
      color: #1c222b;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -0.3px;
    }
  }
}
#testimonials {
  .card-inner {
    padding: 2rem;
    margin-bottom: 1rem;
  }
  .card {
    border-radius: 16px;
    background: #fff;
    border-style: none;

    /* Shadow/2xl */
    box-shadow: 0px 32px 64px -12px rgba(45, 54, 67, 0.14);
  }
  .testimonials-info {
    margin-bottom: 1.2rem;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#teams {
  background: 
      /* Top right corner color */ linear-gradient(
      to bottom left,
      #e8edff 50%,
      transparent 50%
    ),
    /* Bottom right radial gradient */
      radial-gradient(
        50% 50% at 100% 100%,
        rgba(255, 210, 210, 0.65) 0%,
        rgba(255, 244, 229, 0) 100%
      ),
    /* Top left radial gradient */
      radial-gradient(
        50% 50% at 0% 0%,
        rgba(255, 210, 210, 0.65) 0%,
        rgba(255, 244, 229, 0) 100%
      );

  .team-container {
    padding: 7% 0;
  }
  .team-heading {
    color: #1c222b;
    margin-bottom: 4rem;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 125% */
    letter-spacing: -1.75px;
  }
  .teams-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
  }
  .team-name {
    color: #1c222b;

    /* Short Description: 2/Bold */
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; /* 153.571% */
    letter-spacing: -0.5px;
  }
  .team-role {
    color: #1c222b;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.3px;
  }
  .team-image {
    margin-bottom: 20px;
  }
}
footer {
  .footer-container {
    margin: 5% 10%;
    text-align: left;
    .social-media {
      margin-right: 4%;
    }
    ul {
      padding-left: 0;
    }
    li {
      list-style-type: none;
      text-align: left;
      margin: 3% 0;

      a {
        color: #1c222b;
        /* Paragraph: 5/Regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: -0.2px;
        text-decoration: none;
      }
    }
  }
}
