.margin{
    margin-bottom: 20px;
}

label{
    margin-bottom: 10px;
}
.title{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.text{
    color: gray;
    font-size: 14px;
    font-weight: 400;
    line-height: -0.2px;
}

.text-2{
    color: black;
    font-size: 12px;
    font-weight: bold;
}



button{
    color: #fff;
    width: 320px;
    padding: 19px;
    margin: 7px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;

}