<div class="sec">
  <div class="row">
    <div class="col bg w-100"></div>
    <div class="frame-2 col">
      <form
        class="form"
        #authForm="ngForm"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit(authForm)"
      >
        <div class="frame-2-container">
          <div class="title"><p>Storefront</p></div>
          <div class="welcome">
            <div class="welcome-title">
              <h1>Sign Up</h1>
            </div>
            <div>
              <p class="line">
                Create new account by providing your details below.
              </p>
              <p class="line">
                Create
                <a href="#" [routerLink]="['/Sign-up-customer']"
                  >Customer Account</a
                >
              </p>
            </div>
          </div>
          <div class="login-input">
            <div class="email-wrapper">
              <div class="email">
                <label for="business">Business Name</label>
              </div>
              <div class="email-input">
                <svg
                  width="17"
                  height="15"
                  viewBox="0 0 17 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.375 8.75H13.5M3.27412 10.625C3.41283 10.0883 3.72591 9.61295 4.16415 9.27356C4.60239 8.93418 5.14097 8.75001 5.69526 8.75M5.69526 8.75C6.24955 8.74998 6.78814 8.93411 7.22641 9.27346C7.66467 9.61281 7.97778 10.0881 8.11653 10.6248M5.69526 8.75C6.73079 8.75 7.57035 7.91053 7.57035 6.875C7.57035 5.83946 6.73088 5 5.69535 5C4.65981 5 3.82035 5.83946 3.82035 6.875C3.82035 7.91053 4.65973 8.75 5.69526 8.75ZM10.375 6.25H13.5M1.625 1.25H15.375C15.7202 1.25 16 1.52982 16 1.875V13.125C16 13.4702 15.7202 13.75 15.375 13.75H1.625C1.27982 13.75 1 13.4702 1 13.125V1.875C1 1.52982 1.27982 1.25 1.625 1.25Z"
                    stroke="#5E718D"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <input
                  type="text"
                  id="business"
                  placeholder="Anokye Enterprise"
                  name="businessName"
                  formControlName="businessName"
                />
              </div>
              <span
                class="help-block"
                *ngIf="
                  signupForm.get('businessName')?.touched &&
                  signupForm.get('businessName')?.pristine
                "
              >
                *This field is required
              </span>
            </div>
            <div class="email-wrapper">
              <div class="email">
                <label for="email">Email</label>
              </div>
              <div class="email-input">
                <fa-icon [icon]="mailIcon"></fa-icon>
                <input
                  type="text"
                  id="email"
                  placeholder="example@gmail.com"
                  formControlName="email"
                  name="email"
                />
              </div>

              <span
                class="help-block"
                *ngIf="
                  signupForm.get('email')?.touched &&
                  signupForm.get('email')?.pristine
                "
              >
                *This field is required
              </span>
            </div>

            <div class="password-wrapper">
              <div class="password">
                <label for="password">Password</label>
              </div>

              <div class="password-input">
                <svg
                  width="21"
                  height="21"
                  viewBox="0 0 21 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.4995 13V14.875M10.4995 13C11.3625 13 12.062 12.3004 12.062 11.4375C12.062 10.5746 11.3625 9.875 10.4995 9.875C9.63657 9.875 8.93701 10.5746 8.93701 11.4375C8.93701 12.3004 9.63657 13 10.4995 13ZM7.68701 7.375V4.5625C7.68701 3.81658 7.98333 3.10121 8.51077 2.57376C9.03822 2.04632 9.75359 1.75 10.4995 1.75C11.2454 1.75 11.9608 2.04632 12.4882 2.57376C13.0157 3.10121 13.312 3.81658 13.312 4.5625V7.375M4.24951 7.375H16.7495C17.0947 7.375 17.3745 7.65482 17.3745 8V16.75C17.3745 17.0952 17.0947 17.375 16.7495 17.375H4.24951C3.90433 17.375 3.62451 17.0952 3.62451 16.75V8C3.62451 7.65482 3.90433 7.375 4.24951 7.375Z"
                    stroke="#5E718D"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <input
                  type="text"
                  id="password"
                  placeholder="Password"
                  formControlName="password"
                  name="password"
                />
                <fa-icon class="icon" [icon]="eyeIcon"></fa-icon>
              </div>
            </div>
            <span
              class="help-block"
              *ngIf="
                signupForm.get('password')?.touched &&
                signupForm.get('password')?.pristine
              "
            >
              *This field is required
            </span>
            <div class="password-wrapper">
              <div class="password">
                <label for="confirm-password">Confirm Password</label>
              </div>

              <div class="password-input">
                <svg
                  width="21"
                  height="21"
                  viewBox="0 0 21 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.4995 13V14.875M10.4995 13C11.3625 13 12.062 12.3004 12.062 11.4375C12.062 10.5746 11.3625 9.875 10.4995 9.875C9.63657 9.875 8.93701 10.5746 8.93701 11.4375C8.93701 12.3004 9.63657 13 10.4995 13ZM7.68701 7.375V4.5625C7.68701 3.81658 7.98333 3.10121 8.51077 2.57376C9.03822 2.04632 9.75359 1.75 10.4995 1.75C11.2454 1.75 11.9608 2.04632 12.4882 2.57376C13.0157 3.10121 13.312 3.81658 13.312 4.5625V7.375M4.24951 7.375H16.7495C17.0947 7.375 17.3745 7.65482 17.3745 8V16.75C17.3745 17.0952 17.0947 17.375 16.7495 17.375H4.24951C3.90433 17.375 3.62451 17.0952 3.62451 16.75V8C3.62451 7.65482 3.90433 7.375 4.24951 7.375Z"
                    stroke="#5E718D"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <input
                  type="text"
                  id="confirm-password"
                  placeholder="Password"
                  name="confirm-password"
                  formControlName="confirmPassword"
                />
                <fa-icon class="icon" [icon]="eyeIcon"></fa-icon>
              </div>
            </div>
            <span
              class="help-block"
              *ngIf="
                signupForm.get('confirmPassword')?.touched &&
                signupForm.get('confirmPassword')?.pristine
              "
            >
              *This field is required
            </span>
          </div>

          <div class="checks">
            <div class="checks-wrapper-1">
              <div class="length-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon [icon]="ol" class="dot"></fa-icon>
                </div>
                <p>A minimum of 10 characters</p>
              </div>
              <div class="least-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon [icon]="ol" class="dot"></fa-icon>
                </div>
                <p>At least 1 number</p>
              </div>
            </div>
            <div class="checks-wrapper-2">
              <div class="lowercase-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon [icon]="ol" class="dot"></fa-icon>
                </div>
                <p>At least 1 lowercase letter</p>
              </div>
              <div class="uppercase-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon [icon]="ol" class="dot"></fa-icon>
                </div>
                <p>At least 1 uppercase letter</p>
              </div>
            </div>
          </div>
          <div class="button">
            <button class="btn btn-primary" [disabled]="!authForm.valid">
              Continue
            </button>
          </div>
          <div class="optional-input">
            <div class="txt">
              <span class="horizontal-line"><hr /></span>
              <span>OR</span>
              <span class="horizontal-line"><hr /></span>
            </div>
            <div class="sign-up-optional">
              <div class="sig-up-text">
                <p>Sign Up</p>
              </div>

              <div class="social-icon">
                <svg
                  width="24"
                  height="24.558"
                  viewBox="0 0 25 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_2075_92253"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="25"
                    height="25"
                  >
                    <path
                      d="M24.2209 10.2675H12.7791V15.0116H19.3651C18.7512 18.0254 16.1837 19.7556 12.7791 19.7556C8.76047 19.7556 5.52326 16.5185 5.52326 12.5C5.52326 8.48147 8.76047 5.24433 12.7791 5.24433C14.5093 5.24433 16.0721 5.85827 17.3 6.8629L20.8721 3.29089C18.6953 1.39326 15.9047 0.221191 12.7791 0.221191C5.96977 0.221191 0.5 5.69083 0.5 12.5C0.5 19.3091 5.96977 24.7788 12.7791 24.7788C18.9186 24.7788 24.5 20.3138 24.5 12.5C24.5 11.7744 24.3884 10.993 24.2209 10.2675Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask0_2075_92253)">
                    <path
                      d="M-0.616699 19.7567V5.24536L8.87167 12.501L-0.616699 19.7567Z"
                      fill="#FBBC05"
                    />
                  </g>
                  <mask
                    id="mask1_2075_92253"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="25"
                    height="25"
                  >
                    <path
                      d="M24.2209 10.2675H12.7791V15.0116H19.3651C18.7512 18.0254 16.1837 19.7556 12.7791 19.7556C8.76047 19.7556 5.52326 16.5185 5.52326 12.5C5.52326 8.48147 8.76047 5.24433 12.7791 5.24433C14.5093 5.24433 16.0721 5.85827 17.3 6.8629L20.8721 3.29089C18.6953 1.39326 15.9047 0.221191 12.7791 0.221191C5.96977 0.221191 0.5 5.69083 0.5 12.5C0.5 19.3091 5.96977 24.7788 12.7791 24.7788C18.9186 24.7788 24.5 20.3138 24.5 12.5C24.5 11.7744 24.3884 10.993 24.2209 10.2675Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask1_2075_92253)">
                    <path
                      d="M-0.616699 5.24535L8.87167 12.501L12.7786 9.09643L26.174 6.91973V-0.894043H-0.616699V5.24535Z"
                      fill="#EA4335"
                    />
                  </g>
                  <mask
                    id="mask2_2075_92253"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="25"
                    height="25"
                  >
                    <path
                      d="M24.2209 10.2675H12.7791V15.0116H19.3651C18.7512 18.0254 16.1837 19.7556 12.7791 19.7556C8.76047 19.7556 5.52326 16.5185 5.52326 12.5C5.52326 8.48147 8.76047 5.24433 12.7791 5.24433C14.5093 5.24433 16.0721 5.85827 17.3 6.8629L20.8721 3.29089C18.6953 1.39326 15.9047 0.221191 12.7791 0.221191C5.96977 0.221191 0.5 5.69083 0.5 12.5C0.5 19.3091 5.96977 24.7788 12.7791 24.7788C18.9186 24.7788 24.5 20.3138 24.5 12.5C24.5 11.7744 24.3884 10.993 24.2209 10.2675Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask2_2075_92253)">
                    <path
                      d="M-0.616699 19.7567L16.1275 6.91973L20.5368 7.47786L26.174 -0.894043V25.896H-0.616699V19.7567Z"
                      fill="#34A853"
                    />
                  </g>
                  <mask
                    id="mask3_2075_92253"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="25"
                    height="25"
                  >
                    <path
                      d="M24.2209 10.2675H12.7791V15.0116H19.3651C18.7512 18.0254 16.1837 19.7556 12.7791 19.7556C8.76047 19.7556 5.52326 16.5185 5.52326 12.5C5.52326 8.48147 8.76047 5.24433 12.7791 5.24433C14.5093 5.24433 16.0721 5.85827 17.3 6.8629L20.8721 3.29089C18.6953 1.39326 15.9047 0.221191 12.7791 0.221191C5.96977 0.221191 0.5 5.69083 0.5 12.5C0.5 19.3091 5.96977 24.7788 12.7791 24.7788C18.9186 24.7788 24.5 20.3138 24.5 12.5C24.5 11.7744 24.3884 10.993 24.2209 10.2675Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask3_2075_92253)">
                    <path
                      d="M26.1744 25.8961L8.87208 12.501L6.63953 10.8266L26.1744 5.24536V25.8961Z"
                      fill="#4285F4"
                    />
                  </g>
                </svg>

                <p>Google</p>
              </div>
              <div class="social-icon">
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2075_92273)">
                    <path
                      d="M24.5 12.5C24.5 5.87188 19.1281 0.5 12.5 0.5C5.87188 0.5 0.5 5.87188 0.5 12.5C0.5 18.4902 4.88563 23.4547 10.6259 24.3552V15.9716H7.58141V12.5H10.6259V9.85672C10.6259 6.85156 12.4142 5.18844 15.1564 5.18844C16.4713 5.18844 17.8456 5.42516 17.8456 5.42516V8.37734H16.3334C14.8409 8.37734 14.3806 9.30453 14.3806 10.2514V12.5H17.7078L17.1753 15.9716H14.3806V24.3552C20.1144 23.4547 24.5 18.4902 24.5 12.5Z"
                      fill="#1877F2"
                    />
                    <path
                      d="M17.1683 15.9716L17.7012 12.5H14.374V10.2514C14.374 9.30457 14.8409 8.37738 16.3269 8.37738H17.839V5.4252C17.839 5.4252 16.4647 5.18848 15.1498 5.18848C12.4081 5.18848 10.6194 6.85207 10.6194 9.85676V12.5H7.57483V15.9716H10.6194V24.3552C11.2311 24.4536 11.8555 24.5 12.4934 24.5C13.1314 24.5 13.7558 24.4475 14.3675 24.3552V15.9716H17.1683Z"
                      fill="white"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2075_92273">
                      <rect
                        width="24"
                        height="24"
                        fill="white"
                        transform="translate(0.5 0.5)"
                      />
                    </clipPath>
                  </defs>
                </svg>
                <p>Facebook</p>
              </div>
            </div>

            <div class="forgotten-password">
              <p>
                Already a member?
                <a href="#" [routerLink]="['/login']">Sign in</a>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
