<script src="https://accounts.google.com/gsi/client" async></script>
<div class="sec">
  <div class="row">
    <div class="col bg w-100">
      <p>
        Welcome to our Storefront App! Get ready to <br />showcase, sell, and
        succeed. Customize, manage, <br />engage. We're here for you. Let's
        thrive together!
      </p>
    </div>
    <div class="frame-2 col">
      <form
        class="form"
        #authForm="ngForm"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit(authForm)"
      >
        <div class="frame-2-container">
          <div class="title"><p>Storefront</p></div>
          <div class="welcome">
            <div class="welcome-title">
              <h1>Sign Up</h1>
            </div>
            <div class="mobile-view">
              <p class="line">
                Create new account by providing your details below.
              </p>
              <p class="line">
                Create
                <a href="#" [routerLink]="['/Sign-up-customer']"
                  >Customer Account</a
                >
              </p>
            </div>
          </div>
          <div class="login-input">
            <div class="email-wrapper">
              <div class="email">
                <label for="business">Business Name</label>
              </div>
              <div class="email-input">
                <svg
                  width="17"
                  height="15"
                  viewBox="0 0 17 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.375 8.75H13.5M3.27412 10.625C3.41283 10.0883 3.72591 9.61295 4.16415 9.27356C4.60239 8.93418 5.14097 8.75001 5.69526 8.75M5.69526 8.75C6.24955 8.74998 6.78814 8.93411 7.22641 9.27346C7.66467 9.61281 7.97778 10.0881 8.11653 10.6248M5.69526 8.75C6.73079 8.75 7.57035 7.91053 7.57035 6.875C7.57035 5.83946 6.73088 5 5.69535 5C4.65981 5 3.82035 5.83946 3.82035 6.875C3.82035 7.91053 4.65973 8.75 5.69526 8.75ZM10.375 6.25H13.5M1.625 1.25H15.375C15.7202 1.25 16 1.52982 16 1.875V13.125C16 13.4702 15.7202 13.75 15.375 13.75H1.625C1.27982 13.75 1 13.4702 1 13.125V1.875C1 1.52982 1.27982 1.25 1.625 1.25Z"
                    stroke="#5E718D"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <input
                  type="text"
                  id="business"
                  placeholder="Anokye Enterprise"
                  name="businessName"
                  formControlName="businessName"
                />
              </div>
              <span
                class="help-block"
                *ngIf="
                  signupForm.get('businessName')?.touched &&
                  signupForm.get('businessName')?.pristine
                "
              >
                *This field is required
              </span>
            </div>
            <div class="email-wrapper">
              <div class="email">
                <label for="email">Email</label>
              </div>
              <div class="email-input">
                <fa-icon [icon]="mailIcon"></fa-icon>
                <input
                  type="text"
                  id="email"
                  placeholder="example@gmail.com"
                  formControlName="email"
                  name="email"
                />
              </div>

              <span
                class="help-block"
                *ngIf="
                  signupForm.get('email')?.touched &&
                  signupForm.get('email')?.pristine
                "
              >
                *This field is required
              </span>
            </div>

            <div class="password-wrapper">
              <div class="password">
                <label for="password">Password</label>
              </div>

              <div class="password-input d-flex justify-content-between">
                <div>
                  <svg
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.4995 13V14.875M10.4995 13C11.3625 13 12.062 12.3004 12.062 11.4375C12.062 10.5746 11.3625 9.875 10.4995 9.875C9.63657 9.875 8.93701 10.5746 8.93701 11.4375C8.93701 12.3004 9.63657 13 10.4995 13ZM7.68701 7.375V4.5625C7.68701 3.81658 7.98333 3.10121 8.51077 2.57376C9.03822 2.04632 9.75359 1.75 10.4995 1.75C11.2454 1.75 11.9608 2.04632 12.4882 2.57376C13.0157 3.10121 13.312 3.81658 13.312 4.5625V7.375M4.24951 7.375H16.7495C17.0947 7.375 17.3745 7.65482 17.3745 8V16.75C17.3745 17.0952 17.0947 17.375 16.7495 17.375H4.24951C3.90433 17.375 3.62451 17.0952 3.62451 16.75V8C3.62451 7.65482 3.90433 7.375 4.24951 7.375Z"
                      stroke="#5E718D"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <input
                    [type]="!showPassword ? 'password' : 'text'"
                    id="password"
                    placeholder="Password"
                    formControlName="password"
                    name="password"
                  />
                </div>
                <button (click)="onShowPassword()" class="eye-icon">
                  <fa-icon class="icon" [icon]="eyeIcon"></fa-icon>
                </button>
              </div>
            </div>
            <span
              class="help-block"
              *ngIf="
                signupForm.get('password')?.touched &&
                signupForm.get('password')?.pristine
              "
            >
              *This field is required
            </span>
            <div class="password-wrapper">
              <div class="password">
                <label for="confirm-password">Confirm Password</label>
              </div>

              <div class="password-input d-flex justify-content-between">
                <div>
                  <svg
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.4995 13V14.875M10.4995 13C11.3625 13 12.062 12.3004 12.062 11.4375C12.062 10.5746 11.3625 9.875 10.4995 9.875C9.63657 9.875 8.93701 10.5746 8.93701 11.4375C8.93701 12.3004 9.63657 13 10.4995 13ZM7.68701 7.375V4.5625C7.68701 3.81658 7.98333 3.10121 8.51077 2.57376C9.03822 2.04632 9.75359 1.75 10.4995 1.75C11.2454 1.75 11.9608 2.04632 12.4882 2.57376C13.0157 3.10121 13.312 3.81658 13.312 4.5625V7.375M4.24951 7.375H16.7495C17.0947 7.375 17.3745 7.65482 17.3745 8V16.75C17.3745 17.0952 17.0947 17.375 16.7495 17.375H4.24951C3.90433 17.375 3.62451 17.0952 3.62451 16.75V8C3.62451 7.65482 3.90433 7.375 4.24951 7.375Z"
                      stroke="#5E718D"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <input
                    [type]="!showConfirmedPassword ? 'password' : 'text'"
                    id="confirm-password"
                    placeholder="Password"
                    name="confirm-password"
                    formControlName="confirmPassword"
                  />
                </div>
                <button (click)="onShowConfirmedPassword()" class="eye-icon">
                  <fa-icon class="icon" [icon]="eyeIcon2"></fa-icon>
                </button>
              </div>
              <span
                class="help-block"
                *ngIf="
                  signupForm.hasError('passwordsNotMatching') &&
                  signupForm.get('confirmPassword')?.touched &&
                  signupForm.get('confirmPassword')?.dirty
                "
                >Password doesn't match</span
              >
            </div>
            <span
              class="help-block"
              *ngIf="
                signupForm.get('confirmPassword')?.touched &&
                signupForm.get('confirmPassword')?.pristine
              "
            >
              *This field is required
            </span>
          </div>
          <span class="help-block" *ngIf="error">
            {{ error }}
          </span>

          <div class="checks">
            <div class="checks-wrapper-1">
              <div class="length-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    *ngIf="containsMinTenChar()"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon
                    [icon]="ol"
                    class="dot"
                    *ngIf="!containsMinTenChar()"
                  ></fa-icon>
                </div>
                <p>A minimum of 10 characters</p>
              </div>
              <div class="least-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    *ngIf="containsNumeric()"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon
                    [icon]="ol"
                    class="dot"
                    *ngIf="!containsNumeric()"
                  ></fa-icon>
                </div>
                <p>At least 1 number</p>
              </div>
            </div>
            <div class="checks-wrapper-2">
              <div class="lowercase-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    *ngIf="containsLowerCase()"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon
                    [icon]="ol"
                    class="dot"
                    *ngIf="!containsLowerCase()"
                  ></fa-icon>
                </div>
                <p>At least 1 lowercase letter</p>
              </div>
              <div class="uppercase-checker">
                <div class="checker">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    *ngIf="containsUpperCase()"
                  >
                    <path
                      d="M13.8333 4.5L6.49996 11.8333L3.16663 8.5"
                      stroke="#048746"
                      stroke-width="1.6666"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <fa-icon
                    [icon]="ol"
                    class="dot"
                    *ngIf="!containsUpperCase()"
                  ></fa-icon>
                </div>
                <p>At least 1 uppercase letter</p>
              </div>
            </div>
          </div>
          <div class="button">
            <button class="btn btn-primary" [disabled]="!authForm.valid">
              Continue
            </button>
          </div>
          <div class="optional-input">
            <div class="txt">
              <span class="horizontal-line"><hr /></span>
              <span>OR</span>
              <span class="horizontal-line"><hr /></span>
            </div>
            <div class="sign-up-optional">
              <div class="sig-up-text">
                <p>Sign Up</p>
              </div>
              <a
                href="https://storefront-backend-jan-dev-api.vercel.app/api/account/google/customer"
                ><span class="social-icon">
                  <img src="/assets/icons/google-icon.svg" alt="" />
                  <p>Google</p>
                </span>
              </a>

              <button class="social-icon">
                <img src="/assets/icons/facebook-icon.svg" alt="" />
                <p>Facebook</p>
              </button>
            </div>

            <div class="forgotten-password">
              <p>
                Already a member?
                <a href="#" [routerLink]="['/login']">Sign in</a>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
