.sec{
  overflow: hidden;
}
.bg {
  background-image: url("/assets/images/frameOriginal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  position: relative;

  p{
    position: absolute;
    left: 5.375rem;
    right: 5.4375rem;
    bottom: 4rem;
    color:  #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; 
  letter-spacing: -0.4px;
  }

}

form::-webkit-scrollbar{
  display: none;
}

.frame-2 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow-y: scroll;
  height: 100vh;

  // .form{
  //   overflow-y: scroll;
  // }

  .frame-2-container {
    width: 32.5625rem;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .title p {
      color: #0085ff;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin-bottom: 0.2rem;
    }

    .welcome-title h1{
      color: #1c222b;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 3rem;
      font-style: normal;
      font-weight: 600;
      letter-spacing: -1.75px;
    }

    .line {
      color: #3d4a5c;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
    


    .first-name {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .input-first-name {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #0f3cd9;
        padding: 11px 9px 11px 3px;

        input {
          width: 7.8125rem;
          border: none;
          outline: none;
          color: #2d3643;
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
          padding-left: 11px;

          ::placeholder{
            color:  #8897AE;
          }
        }

      }
    }
    .last-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      .input-last-name {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #0f3cd9;
        align-self: stretch;
        padding: 11px 9px 11px 3px;

        input {
          width: 7.8125rem;
          border: none;
          outline: none;
          color: #2d3643;
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
          padding-left: 11px;
        }
      }
    }

    .email-input {
      display: flex;
      padding: 11px 39px 11px 3px;
      align-items: center;
      align-self: stretch;
      gap: 12px;
      border-bottom: 1px solid #0f3cd9;
      background: #fff;

      input {
        border: none;
        outline: none;
        color: #2d3643;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
      }
    }

    .password-wrapper {
      width: 448px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      label {
        color: #3d4a5c;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
      }

      .password-input {
        width: 100%;
        height: 46px;
        align-self: stretch;
        border-bottom: 1px solid #0f3cd9;
        background: #fff;


        input {
          border: none;
          outline: none;
          color: #2d3643;
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
          padding-left: 12px;
        }

        .icon{
          margin-left: -5px;
        }

        .icon-2 {
          margin-left: 12.4375rem;
        }
      }
    }
    .checks {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      .checks-wrapper-1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;

        .length-checker {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 12px;

          p {
            margin-bottom: 2px;
          }

          .dot {
            font-size: 5px;
            margin-top: 8px;
          }
        }

        .least-checker {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 12px;

          p {
            margin-bottom: 2px;
          }

          .dot {
            font-size: 5px;
            margin-top: 8px;
          }
        }
      }

      .checks-wrapper-2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;

        .lowercase-checker {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 12px;

          p {
            margin-bottom: 2px;
          }

          .dot {
            font-size: 5px;
            margin-top: 8px;
          }
        }
        .uppercase-checker {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 12px;

          p {
            margin-bottom: 2px;
          }

          .dot {
            font-size: 5px;
            margin-top: 8px;
          }
        }
      }
    }

    button {
      display: flex;
      width: 448px;
      padding: 13px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: #0f3cd9;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: -0.3px;
    }

    .optional-input {
      display: flex;
      flex-direction: column;

      .txt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 21px;

        .horizontal-line {
          width: 186px;
          height: 1px;
          margin-bottom: 32px;
        }
      }

      .sign-up-optional {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        p {
          color: #3d4a5c;
          text-align: center;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: -0.3px;
        }

        .social-icon {
          display: flex;
          width: 448px;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
          gap: 16px;
          border-radius: 6px;
          border: 1px solid #d7dfe9;
          background: #fff;

          p {
            color: #3d4a5c;
            text-align: center;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -0.3px;
            margin-bottom: 2px;
          }
        }
      }

      .forgotten-password {
        text-align: center;
        margin-top: 12px;
      }

      .forgotten-password p {
        color: #3d4a5c;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.3px;

        a {
          color: #0f3cd9;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: -0.3px;
          text-decoration-line: underline;
        }
      }
    }
  }
}

