<div class="container-fluid">
  <div class="frame">
    <div class="frame-1">
      <p>
        Welcome to our Storefront App! Get ready to <br />showcase, sell, and
        succeed. Customize, manage, <br />engage. We're here for you. Let's
        thrive together!
      </p>
      <img src="/assets/images/reset-frame.jpg" alt="" />
    </div>
    <div class="frame-2" style="height: 100vh">
      <form
        class="form"
        #ResetPasswordForm="ngForm"
        [formGroup]="ResetPassword"
        (ngSubmit)="onSubmit(ResetPasswordForm)"
      >
        <div class="form-wrapper">
          <div class="frame-2-sub-container">
            <div class="title">
              <p>Storefront</p>
            </div>

            <div class="text-heading">
              <div class="reset-password">
                <h1>Reset Password</h1>
              </div>
              <div class="text">
                <p>Don't Remember password? No Problem. Reset and Restore</p>
              </div>
            </div>

            <div class="password-wrapper">
              <div class="password">
                <label for="password">Password</label>
              </div>

              <div class="password-input">
                <div class="d-flex input-wrapper" style="gap: 6px">
                  <img src="/assets/icons/padlock.svg" alt="" />

                  <input
                    name="password"
                    formControlName="password"
                    [type]="!showPassword ? 'password' : 'text'"
                    placeholder="●●●●●●●●●●"
                  />
                </div>
                <div>
                  <button
                    type="button"
                    (click)="onShowPassword()"
                    class="eye-icon"
                  >
                    <fa-icon class="icon" [icon]="eyeIcon"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
            <span
              class="help-block"
              *ngIf="
                ResetPassword.get('password')?.touched &&
                ResetPassword.get('password')?.pristine
              "
            >
              *This field is required
            </span>
            <div class="password-wrapper">
              <div class="password">
                <label for="password">Confirmed Password</label>
              </div>

              <div class="password-input">
                <div class="margin input-wrapper">
                  <img src="/assets/icons/padlock.svg" alt="" />
                  <input
                    formControlName="confirmPassword"
                    name="confirmPassword"
                    [type]="!showConfirmedPassword ? 'password' : 'text'"
                    placeholder="●●●●●●●●●●"
                  />
                </div>
                <div>
                  <button
                    type="button"
                    (click)="onShowConfirmedPassword()"
                    class="eye-icon"
                  >
                    <fa-icon class="icon" [icon]="eyeIcon2"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
            <span
              class="help-block"
              *ngIf="
                ResetPassword.hasError('passwordsNotMatching') &&
                ResetPassword.get('confirmPassword')?.touched &&
                ResetPassword.get('confirmPassword')?.dirty
              "
              >Password doesn't match</span
            >
            <span
              class="help-block"
              *ngIf="
                ResetPassword.get('confirmPassword')?.touched &&
                ResetPassword.get('confirmPassword')?.pristine
              "
            >
              *This field is required
            </span>
            <div class="checks">
              <div class="checks-wrapper-1">
                <div
                  class="length-checker d-flex align-item-center justify-content-center"
                >
                  <div class="icon">
                    <svg
                      width="14"
                      height="10"
                      viewBox="0 0 14 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      *ngIf="containsMinTenChar()"
                    >
                      <path
                        d="M12.3337 1L5.00033 8.33333L1.66699 5"
                        stroke="#048746"
                        stroke-width="1.6666"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>

                  <fa-icon
                    class="unvalidated"
                    [icon]="ol"
                    style="color: #5e718d"
                    *ngIf="!containsMinTenChar()"
                  ></fa-icon>

                  <p>A minimum of 10 characters</p>
                </div>
                <div class="least-checker">
                  <div class="icon">
                    <svg
                      width="14"
                      height="10"
                      viewBox="0 0 14 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      *ngIf="containsNumeric()"
                    >
                      <path
                        d="M12.3337 1L5.00033 8.33333L1.66699 5"
                        stroke="#048746"
                        stroke-width="1.6666"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>

                  <fa-icon
                    class="unvalidated"
                    [icon]="ol"
                    style="color: #5e718d"
                    *ngIf="!containsNumeric()"
                  ></fa-icon>

                  <p>At least 1 number</p>
                </div>
              </div>
              <div class="checks-wrapper-2">
                <div class="lowercase-checker">
                  <div class="icon">
                    <svg
                      width="14"
                      height="10"
                      viewBox="0 0 14 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      *ngIf="containsLowerCase()"
                    >
                      <path
                        d="M12.3337 1L5.00033 8.33333L1.66699 5"
                        stroke="#048746"
                        stroke-width="1.6666"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>

                  <fa-icon
                    class="unvalidated"
                    [icon]="ol"
                    style="color: #5e718d"
                    *ngIf="!containsLowerCase()"
                  ></fa-icon>

                  <p>At least 1 lowercase letter</p>
                </div>
                <div class="uppercase-checker">
                  <div class="icon">
                    <svg
                      width="14"
                      height="10"
                      viewBox="0 0 14 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      *ngIf="containsUpperCase()"
                    >
                      <path
                        d="M12.3337 1L5.00033 8.33333L1.66699 5"
                        stroke="#048746"
                        stroke-width="1.6666"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>

                  <fa-icon
                    class="unvalidated"
                    [icon]="ol"
                    style="color: #5e718d"
                    *ngIf="!containsUpperCase()"
                  ></fa-icon>

                  <p>At least 1 uppercase letter</p>
                </div>
              </div>
            </div>
            <div class="button">
              <button
                [disabled]="!ResetPasswordForm.valid"
                class="btn btn-primary"
                type="submit"
              >
                <span class="continue-btn" *ngIf="!isLoading">Continue</span>
                <span class="loading" *ngIf="isLoading"
                  ><img
                    src="assets\icons\loading-btn-spinner.svg"
                    alt="Loading.."
                  />
                  Loading...</span
                >
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
