<script src="https://accounts.google.com/gsi/client" async></script>
<div class="overflow-x-hidden" style="height: 100vh !important">
  <!-- <div class="container-login"> -->
  <div class="row h-100">
    <div class="col-6">
      <div class="w-100 h-100 bg-image">
        <p>
          Welcome to our Storefront App! Get ready to <br />showcase, sell, and
          succeed. Customize, manage, <br />engage. We're here for you. Let's
          thrive together!
        </p>
      </div>
      <div class="text"></div>
    </div>
    <div class="col-6">
      <div class="frame-2">
        <form
          class="login100-form"
          #loginUserForm="ngForm"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit(loginUserForm)"
        >
          <div class="login-form">
            <div class="title">Storefront</div>
            <div class="welcome">
              <div class="welcome-title">
                <h1>
                  Hi, Welcome back to <br />
                  Storefront
                </h1>
              </div>
              <div class="welcome-text">
                <p>
                  Log in to your existing storefront dashboard by entering the
                  <br />
                  details associated with your account below.
                </p>
              </div>
            </div>
            <div class="login-input">
              <div class="email-wrapper">
                <div class="email">
                  <label for="email">Email</label>
                </div>
                <div class="email-input">
                  <img
                    src="./../../../../../assets/icons/envelope.svg"
                    alt=""
                  />
                  <input
                    type="text"
                    id="email"
                    placeholder="felix.hagan@amalitech.com"
                    formControlName="email"
                    name="email"
                  />
                </div>
              </div>
              <span
                class="help-block"
                *ngIf="
                  !loginForm.get('email')?.valid &&
                  loginForm.get('email')?.touched
                "
              >
                *This field is required
              </span>
              <div class="password-wrapper">
                <div class="password">
                  <label for="password">Password</label>
                </div>

                <div class="password-input">
                  <div class="d-flex" style="gap: 5px">
                    <svg
                      width="21"
                      height="21"
                      viewBox="0 0 21 21"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.4995 13V14.875M10.4995 13C11.3625 13 12.062 12.3004 12.062 11.4375C12.062 10.5746 11.3625 9.875 10.4995 9.875C9.63657 9.875 8.93701 10.5746 8.93701 11.4375C8.93701 12.3004 9.63657 13 10.4995 13ZM7.68701 7.375V4.5625C7.68701 3.81658 7.98333 3.10121 8.51077 2.57376C9.03822 2.04632 9.75359 1.75 10.4995 1.75C11.2454 1.75 11.9608 2.04632 12.4882 2.57376C13.0157 3.10121 13.312 3.81658 13.312 4.5625V7.375M4.24951 7.375H16.7495C17.0947 7.375 17.3745 7.65482 17.3745 8V16.75C17.3745 17.0952 17.0947 17.375 16.7495 17.375H4.24951C3.90433 17.375 3.62451 17.0952 3.62451 16.75V8C3.62451 7.65482 3.90433 7.375 4.24951 7.375Z"
                        stroke="#5E718D"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <input
                      [type]="!showPassword ? 'password' : 'text'"
                      id="password"
                      formControlName="password"
                      name="password"
                      placeholder="●●●●●"
                    />
                  </div>
                  <div>
                    <button (click)="onShowPassword()" class="eye-icon">
                      <fa-icon class="icon" [icon]="eyeIcon"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <span
              class="help-block"
              *ngIf="
                !loginForm.get('password')?.valid &&
                loginForm.get('password')?.touched
              "
            >
              *This field is required
            </span>

            <div class="forgotten-password">
              <p>
                <a href="#" [routerLink]="['/forget-password']"
                  >Forgotten Password?</a
                >
              </p>
            </div>
          </div>

          <div class="button">
            <span class="help-block" *ngIf="error">{{ error }}</span>

            <button
              class="btn btn-primary"
              [disabled]="!loginUserForm.valid"
              [routerLink]="['/merchant']"
            >
              Continue
            </button>
          </div>
        </form>
        <div class="optional-input">
          <div class="row">
            <div class="col-5 horizontal-line"><hr /></div>
            <div class="col-2 text-center"><p>OR</p></div>
            <div class="col-5 horizontal-line"><hr /></div>
          </div>

          <div class="optional-login text-center mb-2">Log In</div>
          <div>
            <div
              id="g_id_onload"
              data-client_id="932862129622-gmqui5g4165kkvn8g92mbqa51rgfhe15.apps.googleusercontent.com"
              data-context="signin"
              data-ux_mode="popup"
              data-login_uri="http://localhost:3000"
              data-itp_support="true"
            ></div>

            <div
              class="g_id_signin d-flex justify-content-center"
              data-type="standard"
              data-shape="rectangular"
              data-theme="outline"
              data-text=""
              data-size="large"
              data-logo_alignment="center"
              data-width="448"
            ></div>
            <!-- <asl-google-signin-button text="" type="standard" size="medium">
              </asl-google-signin-button> -->
            <!-- <div>Google</div> -->
          </div>
          <div class="social-icon mt-2">
            <fa-icon [icon]="facebookIcon" style="color: dodgerblue"></fa-icon>
            <div>Facebook</div>
          </div>
          <div class="text-center mt-3">
            <p>
              Don't have an account?
              <a href="#" [routerLink]="['/Sign-up-merchant']">Sign up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- </div> -->
</div>
