.bg-image {
  background-image: url("/assets/images/frameOriginal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;

  p {
    position: absolute;
    left: 5.375rem;
    right: 5.4375rem;
    bottom: 4rem;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.4px;
  }
}

.help-block {
  color: red;
}

.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  object-fit: fit;
  padding-top: 90px;

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #0085ff;
    }

    .welcome-title h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      line-height: 3.75rem;
      text-align: center;
      letter-spacing: -0.1094rem;
      color: #1c222b;
      // margin: 0;
      margin-bottom: 1rem;
    }

    .welcome-text {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.75rem;
      text-align: center;
      letter-spacing: -0.0187rem;
      color: #3d4a5c;
    }
  }

  .login-input {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .email-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      label {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0.0125rem;
        color: #3d4a5c;
      }

      .email-input {
        box-sizing: border-box;
        background: #ffffff;
        border-bottom: 1px solid #0f3cd9;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin-top: 2%;
        gap: 0.5rem;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        height: 41px;

        input {
          border: none;
          width: 24rem;
          outline: none;
        }
      }
    }

    .password-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      margin-top: 2%;

      label {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0.0125rem;
        color: #3d4a5c;
      }

      .password-input {
        box-sizing: border-box;
        background: #ffffff;
        border-bottom: 1px solid #0f3cd9;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 0.5rem;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin-top: 2%;
        height: 41px;

        .eye-icon {
          border: none;
          width: 24px;
          height: 20px;
          border-radius: 50%;
          background-color: #fff;
          color: gray;
        }

        input {
          border: none;
          width: 24rem;
          outline: none;
        }
      }
    }
  }

  .forgotten-password {
    justify-content: end;
    display: flex;
    margin-top: 1rem;
  }

  .button button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    gap: 10px;
    width: 28rem;
    height: 56px;
    background: #0f3cd9;
    border-radius: 6px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.3px;
    color: #ffffff;
  }

  .horizontal-line {
    margin-top: 0.2rem;
  }

  .social-icon img {
    width: 20px;
  }

  .social-icon {
    display: flex;
    width: 448px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
    border: 1px solid #d7dfe9;
    background: #fff;
  }
}
