<div class="container-fluid">
  <div class="frame">
    <div class="frame-1">
      <p>
        Welcome to our Storefront App! Get ready to <br />showcase, sell, and
        succeed. Customize, manage, <br />engage. We're here for you. Let's
        thrive together!
      </p>
      <img src="/assets/images/reset-frame.jpg" alt="" />
    </div>
    <div class="frame-2">
      <form
        class="form"
        #resetPass="ngForm"
        [formGroup]="ResetPass"
        (ngSubmit)="resetPassword(resetPass)"
      >
        <div class="frame-2-sub-container">
          <div class="title">
            <p>Storefront</p>
          </div>
          <div class="text-heading">
            <div class="reset-password">
              <h1>Reset Password</h1>
            </div>
            <div class="text">
              <p>Don't Remember password? No Problem. Reset and Restore</p>
            </div>
          </div>
          <div class="email-wrapper">
            <div class="email">
              <label for="eamil">Email</label>
            </div>
            <div class="input-wrapper">
              <div class="icon">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.5 4.375H17.5M2.5 4.375V15C2.5 15.1658 2.56585 15.3247 2.68306 15.4419C2.80027 15.5592 2.95924 15.625 3.125 15.625H16.875C17.0408 15.625 17.1997 15.5592 17.3169 15.4419C17.4342 15.3247 17.5 15.1658 17.5 15V4.375M2.5 4.375L10 11.25L17.5 4.375"
                    stroke="#5E718D"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="input">
                <input
                  type="text"
                  id=""
                  placeholder="example@gmail.com"
                  name="email"
                  formControlName="email"
                />
              </div>
            </div>
          </div>
          <p>
            <span class="help-block" *ngIf="error">
              {{ error }}
            </span>
          </p>
          <div class="button">
            <button [disabled]="!resetPass.valid" class="btn btn-primary">
              Continue
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
