.container-fluid {
  padding: 0;
  margin: 0;

  .frame {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    flex-direction: row;

    .frame-1 {
      width: 50%;
      height: 100vh;
      position: relative;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: bottom;
      }

      p {
        position: absolute;
        color: #fff;
        z-index: 77;
        left: 3.375rem;
        right: 5.4375rem;
        bottom: 4rem;
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.4px;
      }
    }

    .frame-2 {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .frame-2-sub-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 480px;
        height: 360px;

        .title {
          width: 130px;
          height: 36px;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          color: #0085ff;
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .reset-password h1 {
          height: 60px;
          font-family: "Inter", sans-serif;
          font-style: normal;
          text-align: center;
          font-weight: 600;
          font-size: 48px;
          line-height: 60px;
          letter-spacing: -1.75px;
          color: #1c222b;
        }

        .text {
          width: 448px;
          height: 28px;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          text-align: center;
          letter-spacing: -0.3px;
          color: #3d4a5c;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
        .email-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 6px;
          width: 448px;
          height: 76px;

          .email {
            width: 320px;
            height: 24px;

            label {
              font-family: "Inter", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: -0.2px;
              color: #3d4a5c;
              flex: none;
              order: 0;
              flex-grow: 0;
            }
          }

          .input-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 8px;
            box-sizing: border-box;
            width: 100%;
            height: 46px;
            background: #ffffff;
            border-bottom: 1px solid #0f3cd9;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

            .input {
              width: 100%;
              input {
                border: none;
                width: 100%;
              }
            }

            input:focus {
              outline: none;
            }
          }
        }
      }
      .help-block {
        color: red;
      }

      button {
        text-align: center;
        padding: 13px 20px;
        gap: 10px;
        width: 448px;
        height: 56px;
        background: #0f3cd9;
        border-radius: 6px;
        flex: none;
        order: 2;
        flex-grow: 0;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.3px;
        color: #ffffff;
        margin-top: -2.5rem;
      }
    }
  }
}

@media only screen and (max-width: 400px){
  .frame-1{
    display: none;
  }

  .frame-2{
    width: 100%;
    padding: 0 10px 0 10px;
  }
}
