<div class="main-div">
  <div class="d-flex" style="justify-content: center">
    <div class="search-box">
      <mat-form-field style="width: 100%">
        <input
          type="text"
          matInput
          placeholder="Search for your business or website type"
          [(ngModel)]="searchShop"
          (input)="filterItems()"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="template-options-container">
    <div class="template-div">
      <div
        class="template-container"
        (click)="goToStore(i)"
        *ngFor="let store of filteredItems; let i"
      >
        <div class="store-cards">
          <div class="store-image">
            <img
              class="mouse-pointer"
              src="/assets/images/shop-image.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="store-name">
            <span class="text">{{ store.storeName }}</span>
          </div>
        </div>
      </div>

      <!-- <div class="col template-container">
              <img class="mouse-pointer" src="/assets/images/Text1.svg" alt="" srcset="">
          </div>
          <div class="col template-container">
              <img class="mouse-pointer" src="/assets/images/Text2.svg" alt="" srcset="">
          </div>
          <div class="col template-container">
              <img class="mouse-pointer" src="/assets/images/Text3.svg" alt="" srcset="">
          </div>
      </div> -->
    </div>
  </div>

  <div class="loading-spinner-medium" *ngIf="isLoading">
    <img
      src="assets\icons\loading-btn-spinner.svg"
      alt="Loading.."
      class="spinner-image"
    />
  </div>
  <div class="no-result-found" *ngIf="numberOfStores === 0">No Store Found</div>
</div>
