<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SHOPNEST</a>

    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">About Us</a>
        <a class="nav-link" href="#">Contact Us</a>
        <a class="nav-link" href="#">Shop</a>
        <form class="d-flex justify-content-center align-items-center">
          <fa-icon [icon]="searchIcon" style="color: #fff"></fa-icon>
          <input
            type="search"
            placeholder="Search"
            aria-label="Search"
            class="search"
          />
        </form>
      </div>
      <button class="menu-btn" color="primary" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <div class="navbar-nav dropdown-content" id="dropdownMenu">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">About Us</a>
        <a class="nav-link" href="#">Contact Us</a>
        <a class="nav-link" href="#">Shop</a>
        <form class="d-flex justify-content-center align-items-center">
          <button class="search" color="primary" mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <input
            type="search"
            placeholder="Search"
            aria-label="Search"
            class="search"
          />
        </form>
      </div>
    </div>
    <div class="navbar-icons d-flex justify-content-between align-items-center">
      <button class="heart nav-icons" color="primary" mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button class="person nav-icons" color="primary" mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
      <button class="cart nav-icons" color="primary" mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</nav>
<!-- <app-home-ecommerce></app-home-ecommerce>
<footer class="add-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title">
          <p>SHOPNEST</p>
        </div>
      </div>
      <div class="col">
        <div class="title">
          <p>FEATURES</p>
        </div>
        <div class="routes">
          <a href="#">Men</a>
          <a href="#">Women</a>
          <a href="#">Shoes</a>
          <a href="#">Accessories</a>
        </div>
      </div>
      <div class="col">
        <div class="title">
          <p>MENU</p>
        </div>
        <div class="routes">
          <a href="#">About us</a>
          <a href="#">Contact us</a>
          <a href="#">My Account</a>
          <a href="#">Order History</a>
          <a href="#">My wishlist</a>
        </div>
      </div>
      <div class="col">
        <div class="title">
          <p>HELP</p>
        </div>
        <div class="routes">
          <a href="#">Customer Service</a>
          <a href="#">Size Guide</a>
          <a href="#">Contact us</a>
        </div>
      </div>
      <div class="col-auto">
        <div class="title">
          <p>PAYMENT & DELIVERY</p>
        </div>
        <div class="routes">
          <a href="#">Purchase Items</a>
          <a href="#">Guarantee</a>
        </div>
      </div>
    </div>
  </div>
</footer> -->
