
<div
*ngIf="!dataService.isLoading"
  [style.lineHeight]="dataService.template.lineHeight"
  [style.color]="dataService.template.primaryColor"
  [style.background]="dataService.template.primaryBackground"
>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    [style.backgroundColor]="dataService.template.navbarBackgroundColor"
    [style.color]="dataService.template.navbarColor"
    style="z-index: 20"
  >
    <div class="container-fluid">
      <a
        [style.color]="dataService.template.navbarColor"
        class="navbar-brand"
        [routerLink]="['/ecommerce']"
      >{{dataService.selectedStore['storeName']}}</a>
      <button
        class="menu-btn toggle-btn"
        color="primary"
        mat-icon-button
        (click)="toggleBtnFunction()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div
        class="collapse navbar-collapse d-flex justify-content-center"
        id="navbarNavAltMarkup"
        cdkDropList
        cdkDropListOrientation="horizontal"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="navbar-nav nav-content" id="parent">
          @for (menuItem of dataService.template.pagesOrder; track menuItem) {

          <a
            *ngIf="menuItem.includePage"
            [style.color]="dataService.template.navbarColor"
            cdkDrag
            class="nav-link"
            [routerLink]="[menuItem.name]"
            routerLinkActive="router-link-active"
          >
            {{ menuItem.value }}
          </a>
          }

          <form class="d-flex justify-content-center align-items-center">
            <fa-icon
              [icon]="searchIcon"
              [style.color]="dataService.template.navbarColor"
            ></fa-icon>

            <input
              [style.color]="dataService.template.navbarColor"
              [(ngModel)]="dataService.productSearchString"
              type="search"
              placeholder="Search"
              aria-label="Search"
              class="search"
              name="d"
            />
          </form>
        </div>

        <div
          [style.color]="dataService.template.navbarColor"
          class="navbar-nav dropdown-content"
          id="dropdownMenu"
        >
          <a class="nav-link" [routerLink]="['home']">Home</a>
          <a class="nav-link" [routerLink]="['about']">About Us</a>
          <a class="nav-link" [routerLink]="['contact']">Contact Us</a>
          <a class="nav-link" [routerLink]="['shop']">Shop</a>
          <a class="nav-link">
            <fa-icon [icon]="searchIcon" style="color: #fff"></fa-icon>
            Search
          </a>
        </div>
      </div>
      <div
        class="navbar-icons d-flex justify-content-between align-items-center"
      >
        <button
          class="heart nav-icons"
          color="primary"
          mat-icon-button
          (click)="goToFavouriteProducts()"
        >
          <mat-icon
            [matBadge]="dataService.like.length"
            matBadgeColor="warn"
            style="margin-top: 10px; cursor: pointer"
            >favorite_border</mat-icon
          >
        </button>
        <button
          class="person nav-icons"
          color="primary"
          mat-icon-button
          (click)="goToCustomerDashboard()"
        >
          <mat-icon>person</mat-icon>
        </button>

        <!-- <button class="person nav-icons" -->

        <mat-icon
          [matBadge]="dataService.cart.length"
          (click)="goToCheckout()"
          style="margin-top: 10px; cursor: pointer"
          matBadgeColor="warn"
          >shopping_cart</mat-icon
        >

        <!-- <button mat-icon-button


          color="primary"
          mat-icon-button
          [routerLink]="['checkout-page']"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button> -->
      </div>
    </div>
  </nav>
  <div class="edit-btn-block">
    <button class="edit-btn" mat-icon-button (click)="openFileInput()">
      <mat-icon>edit</mat-icon>
    </button>
    <input type="file" name="" #fileInput style="display: none" />
    <button class="edit-btn" mat-icon-button>
      <mat-icon>link</mat-icon>
    </button>
    <button class="edit-btn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <div class="input-link-div">
      <input
        type="text"
        class="input-link"
        name="input-link"
        id=""
        placeholder="Input Link here"
      />
    </div>
  </div>
  <router-outlet></router-outlet>
  <section class="duties-taxes">
    <div
      class="duties-taxes-div d-flex justify-content-between container-fluid"
    >
      <p class="duties-taxes-paragraph">
        <span class="check">✔</span> Duties and Taxes Guaranteed
      </p>
      <p class="duties-taxes-paragraph">
        <span class="check">✔</span> Free Express Shipping
      </p>
      <p class="duties-taxes-paragraph">
        <span class="check">✔</span> Customer Love
      </p>
      <p class="duties-taxes-paragraph">
        <span class="check">✔</span>Easy Returns
      </p>
      <p class="duties-taxes-paragraph">
        <span class="check">✔</span> Secure Payment
      </p>
    </div>
  </section>

  <section class="subscribe-to-newsletters">
    <div class="row">
      <div class="col">
        <h2 class="subscribe-header">Subscribe to Newsletters</h2>
        <p class="subscribe-paragraph">
          Be aware of upcoming sales and events. Receive gifts and special
          offers!
        </p>
      </div>

      <div class="col col-sm subscribe-btn-div d-flex">
        <button class="btn btn-primary subscribe-btn">SUBSCRIBE NOW</button>
      </div>
    </div>
  </section>
  <footer class="">
    <div class="container">
      <div class="row footer-contents">
        <div class="col">
          <h4 class="footer-header">SHOPNEST</h4>
        </div>

        <div class="col footer-links">
          <h5 class="links-header">FEATURES</h5>
          <ul>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Accessories</a></li>
          </ul>
        </div>
        <div class="col footer-links">
          <h5 class="links-header">MENU</h5>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">My wishlist</a></li>
          </ul>
        </div>
        <div class="col footer-links">
          <h5 class="links-header">HELP</h5>
          <ul>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Size Guide</a></li>
            <li><a href="#">Size Guide</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>

        <div class="col footer-links">
          <h5 class="links-header">PAYMENT & DELIVERY</h5>
          <ul>
            <li><a href="#">Purchase Items</a></li>
            <li><a href="#">Guarantee</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<div *ngIf="dataService.isLoading" class="spinner-container">
  <img src="assets\icons\loading-btn-spinner.svg" alt="Loading.."/>
</div>