<div class="container-fluid" style="padding: 20px 53px 0 37px">
  <div class="row justify-content-between">
    <div class="col">
      <div class="row">
        <div class="col header">Payment</div>
      </div>
      <div class="row">
        <div class="col d-flex" style="gap: 20px">
          <p class="text">Home</p>
          <span>
            <img src="/assets/images/greater-than.svg" alt="" />
          </span>
          <p class="text">Payment</p>
        </div>
      </div>
    </div>
    <div class="col button" style="align-items: center; justify-content: end">
      <button class="btn btn-primary cancel">Cancel</button>
      <button class="btn btn-primary save">Save</button>
    </div>
  </div>
</div>
<section class="container" style="padding: 20px">
  <form>
    <div class="label">
      <label for="name">Name of Account</label>
    </div>
    <div class="input">
      <input type="text" id="name" class="form-control" />
    </div>
    <div class="label">
      <label for="method">Method</label>
    </div>
    <div class="input">
      <input type="text" id="method" class="form-control" />
    </div>
    <div class="label">
      <label for="email">Email</label>
    </div>
    <div class="input">
      <input type="text" id="email" class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</section>
