<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <div class="customer-info d-flex align-items-center">
      <div class="customer-images">
        <img
          src="assets\images\team-image2.svg"
          alt=""
          class="customer-image"
        />
      </div>
      <div class="customer-name-number">
        <div class="customer-name">Fidelis Mensah</div>
        <div class="customer-email">takyifidegmail.com</div>
      </div>
    </div>
    <div class="number-orders">
      <div class="orders">Number of Orders</div>
      <div class="number text-right"># <span class="order-nums">32</span></div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Order History"> Content 1 </mat-tab>
    <mat-tab label="Shipping Address">
      <div class="shipping-address">
        <div class="name">Fidelis</div>
        <div class="street-address">Dansoman</div>
        <div class="city">Accra</div>
        <div class="phone">0240387717</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
