<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <div class="customer-info d-flex align-items-center">
      <div class="customer-images">
        <img
          src="assets\images\team-image2.svg"
          alt=""
          class="customer-image"
        />
      </div>
      <div class="customer-name-number">
        <div class="customer-name">
          <span classs="first-name">
            {{ data.firstName }}
          </span>
          <span class="last-name">
            {{ data.lastName }}
          </span>
        </div>
        <div class="customer-email">{{ data.email }}</div>
      </div>
    </div>
    <div class="number-orders">
      <div class="orders">Number of Orders</div>
      <div class="number text-right">
        # <span class="order-nums">{{ data.orders }}</span>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Order History">
      <table mat-table [dataSource]="dataSurce" class="mat-elevation-z8 table">
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Products</th>
          <td mat-cell *matCellDef="let element">
            <div class="product-info d-flex align-items-center">
              <div class="product-images">
                <img
                  [src]="element.items[0].image"
                  alt=""
                  class="product-image"
                />
              </div>
              <div class="product-name">
                <div class="product-name">
                  {{ element.items[0].name }}
                  <div>
                    <span class="more-orders" *ngIf="element.items.length > 1">
                      +{{ element.items.length }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">
            <div class="amount-price">
              <span class="amount"></span>{{ element.currency }}
              <span class="amount-price">{{ element.amount }}</span>
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            <span class="date">{{
              element.createdAt | date : "mediumDate"
            }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'price', 'date']"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Shipping Address">
      <div class="shipping-address">
        <div class="name">Fidelis</div>
        <div class="street-address">Dansoman</div>
        <div class="city">Accra</div>
        <div class="phone">0240387717</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
