<div class="about-us container-fluid"
[style.lineHeight]="dataService.template.lineHeight"
[style.color]="dataService.template.primaryColor"
[style.background]="dataService.template.primaryBackground">
  <section class="level-up">
    <div class="header-and-paragraph">
      <h1 class="level-up-header"
      [style.color]="dataService.template.headings.heroHeading.color"
      [style.fontSize]="dataService.template.headings.heroHeading.fontSize"
      [style.lineHeight]="dataService.template.headings.heroHeading.lineHeight"
      [style.fontWeight]="dataService.template.headings.heroHeading.fontWeight"
      (click)="editText(dataService.template.aboutUs.heading.title,'aboutUs','heading','title')"
      [innerHTML]="dataService.template.aboutUs.heading.title" class="contact-us-header">
      </h1>
      <p 
      (click)="editText(dataService.template.aboutUs.heading.message,'aboutUs','heading','message')"
      [innerText]="dataService.template.aboutUs.heading.message"
      class="keep-it-paragraph"></p>
    </div>
  </section>
  <section class="our-story">
    <div class="our-story-div">
      <div class="our-story-header"
      (click)="editText(dataService.template.aboutUs.ourStory.title,'aboutUs','ourStory','title')"
      [innerText]="dataService.template.aboutUs.ourStory.title"></div>
      <p (click)="editText(dataService.template.aboutUs.ourStory.message,'aboutUs','ourStory','message')"
      [innerText]="dataService.template.aboutUs.ourStory.message"></p>
    </div>
    <div class="why-shop-div">
      <h4 class="why-shop-header"
      (click)="editText(dataService.template.aboutUs.whyShopWithUs.title1,'aboutUs','whyShopWithUs','title1')"
      [innerText]="dataService.template.aboutUs.whyShopWithUs.title1"></h4>
      <div
        class="why-shop-content d-flex justify-content-between align-items-center space-why-shop"
      >
        <div class="convenience d-flex check-content">
          <div class="check">
            <img src="assets\icons\why-shop-check.svg" alt="" />
          </div>
          <div class="convenience-content">
            <h5 class="why-header" (click)="editText(dataService.template.aboutUs.whyShopWithUs.title2,'aboutUs','whyShopWithUs','title2')"
            [innerText]="dataService.template.aboutUs.whyShopWithUs.title2"></h5>
            <p 
            (click)="editText(dataService.template.aboutUs.whyShopWithUs.reason2,'aboutUs','whyShopWithUs','reason2')"
            [innerText]="dataService.template.aboutUs.whyShopWithUs.reason2"
            class="convenience-paragraph why-shop-paragraph">
            </p>
          </div>
        </div>
        <div class="affordable d-flex check-content">
          <div class="check">
            <img src="assets\icons\why-shop-check.svg" alt="" />
          </div>
          <div class="affordable-content">
            <h5 class="why-header"
            (click)="editText(dataService.template.aboutUs.whyShopWithUs.title3,'aboutUs','whyShopWithUs','title3')"
            [innerText]="dataService.template.aboutUs.whyShopWithUs.title3"></h5>
            <p class="why-shop-paragraph"
            (click)="editText(dataService.template.aboutUs.whyShopWithUs.reason3,'aboutUs','whyShopWithUs','reason3')"
            [innerText]="dataService.template.aboutUs.whyShopWithUs.reason3"></p>
          </div>
        </div>
        <div class="reliable d-flex check-content">
          <div class="check">
            <img src="assets\icons\why-shop-check.svg" alt="" />
          </div>
          <div class="reliable-content">
            <h5 class="why-header"
            (click)="editText(dataService.template.aboutUs.whyShopWithUs.title4,'aboutUs','whyShopWithUs','title4')"
            [innerText]="dataService.template.aboutUs.whyShopWithUs.title4"></h5>
            <p class="why-shop-paragraph"
            (click)="editText(dataService.template.aboutUs.whyShopWithUs.reason4,'aboutUs','whyShopWithUs','reason4')"
            [innerText]="dataService.template.aboutUs.whyShopWithUs.reason4"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="meet-team">
    <h3 class="team-header">MEET OUR TEAM</h3>
    <div class="team-content d-flex justify-content-between align-items-center">
      <div class="team-card">
        <img
          [src]="dataService.template.aboutUs.team.picture1"
          class="rounded-top"
          alt=""
        />
        <h5 class="team-name"
        (click)="editText(dataService.template.aboutUs.team.name1,'aboutUs','team','name1')"
        [innerText]="dataService.template.aboutUs.team.name1"></h5>
        <p class="team-company"
        (click)="editText(dataService.template.aboutUs.team.role1,'aboutUs','team','role1')"
        [innerText]="dataService.template.aboutUs.team.role1"></p>
      </div>
      <div class="team-card">
        <img
          [src]="dataService.template.aboutUs.team.picture2"
          class="rounded-top"
          alt=""
        />
        <h5 class="team-name"
        (click)="editText(dataService.template.aboutUs.team.name2,'aboutUs','team','name2')"
        [innerText]="dataService.template.aboutUs.team.name2"></h5>
        <p class="team-company"
        (click)="editText(dataService.template.aboutUs.team.role2,'aboutUs','team','role2')"
        [innerText]="dataService.template.aboutUs.team.role2"></p>
      </div>
      <div class="team-card">
        <img
          [src]="dataService.template.aboutUs.team.picture3"
          class="rounded-top"
          alt=""
        />
        <h5 class="team-name"
        (click)="editText(dataService.template.aboutUs.team.name3,'aboutUs','team','name3')"
        [innerText]="dataService.template.aboutUs.team.name3"></h5>
        <p class="team-company"
        (click)="editText(dataService.template.aboutUs.team.role3,'aboutUs','team','role3')"
        [innerText]="dataService.template.aboutUs.team.role3"></p>
      </div>
      <div class="team-card">
        <img
          [src]="dataService.template.aboutUs.team.picture4"
          class="rounded-top"
          alt=""
        />
        <h5 class="team-name"
        (click)="editText(dataService.template.aboutUs.team.name4,'aboutUs','team','name4')"
        [innerText]="dataService.template.aboutUs.team.name4"></h5>
        <p class="team-company"
        (click)="editText(dataService.template.aboutUs.team.role4,'aboutUs','team','role4')"
        [innerText]="dataService.template.aboutUs.team.role4"></p>
      </div>
      <div class="team-card">
        <img
          [src]="dataService.template.aboutUs.team.picture5"
          class="rounded-top"
          alt=""
        />
        <h5 class="team-name"
        (click)="editText(dataService.template.aboutUs.team.name5,'aboutUs','team','name5')"
        [innerText]="dataService.template.aboutUs.team.name5"></h5>
        <p class="team-company"
        (click)="editText(dataService.template.aboutUs.team.role5,'aboutUs','team','role5')"
        [innerText]="dataService.template.aboutUs.team.role5"></p>
      </div>
      <div class="team-card">
        <img
          [src]="dataService.template.aboutUs.team.picture5"
          class="rounded-top"
          alt=""
        />
        <h5 class="team-name"
        (click)="editText(dataService.template.aboutUs.team.name6,'aboutUs','team','name6')"
        [innerText]="dataService.template.aboutUs.team.name6"></h5>
        <p class="team-company" 
        (click)="editText(dataService.template.aboutUs.team.role6,'aboutUs','team','role6')"
        [innerText]="dataService.template.aboutUs.team.role6">Facebook</p>
      </div>
    </div>
  </section>
  <section class="customer-reviews">
    <h4 class="customer-review-header">CUSTOMER REVIEWS</h4>
    <img src="assets\images\ecommerce-customer-review-dp.svg" alt="" />
    <div class="customer-review-stars">
      <img src="assets\icons\ecommerce-customer-review-star.svg" alt="" />
      <img src="assets\icons\ecommerce-customer-review-star.svg" alt="" />
      <img src="assets\icons\ecommerce-customer-review-star.svg" alt="" />
      <img src="assets\icons\ecommerce-customer-review-star.svg" alt="" />
      <img
        src="assets\icons\ecommerce-customer-review-star-unfilled.svg"
        alt=""
      />
    </div>
    <p class="customer-review-paragraph">
      Slate helps you see how many more days you need to work to <br />
      reach your financial goal.
    </p>
    <p class="customer-review-paragraph">Regina Miles</p>
    <p class="customer-review-paragraph">Designer</p>
  </section>
</div>
