<div class="about-us container-fluid">
  <section class="level-up">
    <div class="header-and-paragraph">
      <h1 class="level-up-header">
        LEVEL UP YOUR STYLE WITH OUR SUMMER COLLECTIONS
      </h1>
      <p class="keep-it-paragraph">
        Keep It Simple One of the most essential website design principles to
        follow is to keep everything simple. It must be easy to scroll through
        the page, and the content must be easy to read.Learn more
      </p>
    </div>
  </section>
  <section class="our-story">
    <div class="our-story-div">
      <div class="our-story-header">OUR STORY</div>
      <p class="our-story-paragraph">
        ShopNest was born from a vision to redefine the way you shop online.
        With years of experience in the eCommerce industry, we set out to create
        a one-stop destination where you can discover high-quality products,
        connect with trusted sellers, and enjoy seamless shopping from the
        comfort of your own nest.
      </p>
    </div>
    <div class="why-shop-div">
      <h4 class="why-shop-header">WHY SHOP WITH US</h4>
      <div
        class="why-shop-content d-flex justify-content-between align-items-center"
      >
        <div class="convenience d-flex">
          <div class="check">
            <img src="assets\icons\why-shop-check.svg" alt="" />
          </div>
          <div class="convenience-content">
            <h5 class="why-header">Convenience and Ease</h5>
            <p class="convenience-paragraph why-shop-paragraph">
              Shopping should be a breeze, and we've designed our platform with
              your convenience in mind. Browse, compare, and order products
              effortlessly, all with just a few clicks.
            </p>
          </div>
        </div>
        <div class="affordable d-flex">
          <div class="check">
            <img src="assets\icons\why-shop-check.svg" alt="" />
          </div>
          <div class="affordable-content">
            <h5 class="why-header">Affordable, reliable shipping</h5>
            <p class="why-shop-paragraph">
              Our shipping services offer reliability, convenience, and
              cost-effectiveness. We guarantee on-time delivery, secure
              tracking, and efficient customer service.
            </p>
          </div>
        </div>
        <div class="reliable d-flex">
          <div class="check">
            <img src="assets\icons\why-shop-check.svg" alt="" />
          </div>
          <div class="reliable-content">
            <h5 class="why-header">Reliable shipping</h5>
            <p class="why-shop-paragraph">
              Shopping should be a breeze, and we've designed our platform with
              your convenience in mind. Browse, compare, and order products
              effortlessly, all with just a few clicks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
