<div class="container-wrapper-div" style="position: relative;">
    <div class="p-0">
        <header class="container-fluid p-0 ">
            <nav class="navbar navbar-white bg-white d-flex">
                <div class="business-name-cont">
                    <span class="bn-logo">
                        BN
                    </span>
                    <!-- <span class="bn-name">Business Name</span> -->
                    <select class="bn-name" name="" id="">
                        <option value="">Business Name</option>
                    </select>
                </div>
                <span class="hire-professional">Hire a professional</span>
                <div class="d-flex">
                    <button mat-icon-button>
                        <mat-icon>desktop_windows</mat-icon>
                    </button>
                    <div class="vertical-line"></div>
                    <button mat-icon-button style="color: #AAAAAA;">
                        <mat-icon>smartphone</mat-icon>
                    </button>
                </div>
                <div class="action-buttons">
                    <button class="btn btn-dark">Save</button>
                    <button class="btn btn-dark ms-2">Publish</button>
                </div>
                <span class="app-name">
                    storefront
                </span>
            </nav>
        </header>
        <div class="template row p-3 ms-2" style="z-index: 109; position: absolute; background: rgba(246, 246, 246, 0.70); left: 5rem; top: 22%">
            <section>
                <h1>H1 Heading 64px</h1>
                <h2>H2 Heading 48px</h2>
                <h3>H3 Heading 24px</h3>
                <h4>H4 Heading 16px</h4>
                <hr>
                <div class="d-flex flex-column"  style="gap: 8px;">
                    <span class="row g-1" style="justify-content: center;">
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25" >
                                <rect width="25" height="25" fill="#15616B" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#219BAB" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#54CEDE" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#AAE6EE" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#FFFFFF" />
                            </svg>
                        </div>
                    </span>
                    <span class="row g-1" style="justify-content: center;">
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#15616B" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#114D55" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#0E4248" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#0D3A40" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="Black" />
                            </svg>
                        </div>
                    </span>
                    <span class="row g-1" style="justify-content: center;">
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#FFFFFF" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#D4D4D4" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#808080" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#4D4D4D" />
                            </svg>
                        </div>
                        <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                            <svg width="25" height="25">
                                <rect width="25" height="25" fill="#4D4D4D" />
                            </svg>
                        </div>
                    </span>
                </div>
            </section>
            <section>
            </section>
         </div>
    </div>
    <mat-drawer-container class="container-fluid p-0 test" style="position: relative;">
        <mat-drawer #drawer mode="side" [opened]="true" class="side-nav mat-elevated-z4">
            <ul>
                <li [routerLink]="['home']">
                    <button mat-fab style="background-color: white; color: #0085FF;"
                        aria-label="Example icon button with a bookmark icon">
                        <mat-icon>add</mat-icon>
                    </button>
                    
                </li>
                <li [routerLink]="['fav-product']">
                    <button mat-fab style="background-color: white; color: black;">
                        <mat-icon style="background-color: bla;" fontIcon="crop_square"></mat-icon>
                        
                         <!-- <span class="material-symbols-outlined">
                            crop_square
                            </span> -->
                    </button>
                </li>
                <li [routerLink]="['history']">
                    <button  style="background-color: white; color: #0085FF;" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                        <mat-icon>upload_2</mat-icon>
                    </button>
                </li>
                
                <li [routerLink]="['home']">
                    <button mat-fab style="background-color: white;"
                        aria-label="Example icon button with a bookmark icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="27" viewBox="0 0 28 30" fill="none">
                            <path
                                d="M1 24.2534H5.10354M9.20707 24.2534H5.10354M5.10354 24.2534V20.1498M5.10354 24.2534V28.3569M7.85017 1H20.8447L27 7.1553V24.2534"
                                stroke="#0085FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M13.3213 28.3569H20.8444C21.3886 28.3569 21.9105 28.1407 22.2953 27.7559C22.68 27.3712 22.8962 26.8493 22.8962 26.3051V10.2316C22.8963 10.1236 22.8751 10.0167 22.8338 9.91692C22.7925 9.81716 22.7319 9.72654 22.6555 9.65024L18.3495 5.34426C18.273 5.2677 18.1822 5.20702 18.0822 5.1657C17.9822 5.12439 17.875 5.10325 17.7668 5.10352H4.43031C3.88615 5.10352 3.36427 5.31969 2.97949 5.70447C2.59471 6.08925 2.37854 6.61112 2.37854 7.15529V16.0463"
                                stroke="#0085FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M17.4248 5.10352V9.75419C17.4248 9.97185 17.5113 10.1806 17.6652 10.3345C17.8191 10.4884 18.0278 10.5749 18.2455 10.5749H22.8962"
                                stroke="#0085FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </li>
                <li [routerLink]="['fav-product']">
                    <button mat-fab style="background-color: white; color:#FF8A00;"
                        aria-label="Example icon button with a bookmark icon">
                        <mat-icon style="font-size: 28px;">layers</mat-icon>
                    </button>
                </li>
            </ul>
        </mat-drawer>
        <mat-drawer-content class="conatainer" style="position: relative;">
            <router-outlet />
            
           

        </mat-drawer-content>
    </mat-drawer-container>
</div>



<!-- <div style="z-index: 99; position: absolute; background-color: red; left: 20%; top: auto"> -->
    <!-- <div class="editor_controls">
    <button mat-icon-button data-element="bold">
        <mat-icon>format_bold</mat-icon>
      </button>
    <button mat-icon-button data-element="italic">
        <mat-icon>format_italic</mat-icon>
      </button>
    <button mat-icon-button data-element="underline">
        <mat-icon>format_underline</mat-icon>
    </button>
    <button mat-icon-button data-element="insertUnorderedList">
        <mat-icon>toc</mat-icon>
    </button>
    <button mat-icon-button data-element="insertOrderedList">
        <mat-icon>format_list_numbered_rtl</mat-icon>
    </button>
    <button mat-icon-button data-element="createLink">
        <mat-icon>link</mat-icon>
    </button>
    <button mat-icon-button data-element="justifyLeft">
        <mat-icon>format_align_left</mat-icon>
    </button>
    <button mat-icon-button data-element="justifyCenter">
        <mat-icon>format_align_center</mat-icon>
    </button>
    <button mat-icon-button data-element="justifyRight">
        <mat-icon>format_align_right</mat-icon>
    </button>
    <button mat-icon-button data-element="justifyFull">
        <mat-icon>format_align_justify</mat-icon>
    </button>
    <button mat-icon-button data-element="insertImage">
        <mat-icon>add_photo_alternate</mat-icon>
    </button>
    <button mat-icon-button data-element="fontName">
        <mat-icon>format_bold</mat-icon>
      </button>
    <button mat-icon-button data-element="fontSize">
        <mat-icon>format_bold</mat-icon>
    </button>
</div> -->

