<div class="container-wrapper-div" style="position: relative;">
    <div class="p-0">
        <header class="container-fluid p-0 ">
            <nav class="navbar navbar-white bg-white d-flex">
                <div class="business-name-cont">
                    <span class="bn-logo">
                        BN
                    </span>
                    <!-- <span class="bn-name">Business Name</span> -->
                    <select class="bn-name" name="" id="">
                        <option value="">Business Name</option>
                    </select>
                </div>
                <span class="hire-professional">Hire a professional</span>
                <div class="d-flex">
                    <button mat-icon-button (click)="isMobile('false')" [ngStyle]="{'color': dataservice.isMobileBool ? '#AAAAAA' : ''}">
                        <mat-icon>desktop_windows</mat-icon>
                    </button>
                    <div class="vertical-line"></div>
                    <button mat-icon-button  (click)="isMobile('true')" [ngStyle]="{'color': dataservice.isMobileBool ? '' : '#AAAAAA'}">
                        <mat-icon>smartphone</mat-icon>
                    </button>
                </div>
                <div class="action-buttons">
                    <button class="btn btn-dark">Save</button>
                    <button class="btn btn-dark ms-2">Publish</button>
                </div>
                <span routerLink="/" class="app-name">
                    storefront
                </span>
            </nav>
        </header>
        <div class="template row ms-2" [style.display]="isTemplateVisible ? 'block' : 'none'">
            <section>
                <h1>H1 Heading 64px</h1>
                <h2>H2 Heading 48px</h2>
                <h3>H3 Heading 24px</h3>
                <h4>H4 Heading 16px</h4>
                <hr>
                <div class="d-flex"  style="gap: 0.5rem; align-items: center;justify-content: space-evenly;">
                    <div class="d-flex flex-column" style="gap: 0.5rem; ">
                        <span class="row g-1" style="justify-content: center;">
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5" >
                                    <rect width="31.4" height="33.5" fill="#15616B" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#219BAB" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#54CEDE" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#AAE6EE" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#FFFFFF" />
                                </svg>
                            </div>
                        </span>
                        <span class="row g-1" style="justify-content: center;">
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#15616B" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#114D55" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#0E4248" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#0D3A40" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="Black" />
                                </svg>
                            </div>
                        </span>
                        <span class="row g-1" style="justify-content: center;">
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#FFFFFF" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#D4D4D4" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#808080" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#4D4D4D" />
                                </svg>
                            </div>
                            <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                                <svg width="31.4" height="33.5">
                                    <rect width="31.4" height="33.5" fill="#4D4D4D" />
                                </svg>
                            </div>
                        </span>
                    </div>
                    <svg (click)="showHideDiv('isColorVisible')" xmlns="http://www.w3.org/2000/svg" width="12" height="29" viewBox="0 0 12 29" fill="none">
                        <path d="M12 14.5L0.750001 28.7894L0.750002 0.21058L12 14.5Z" fill="#222222"/>
                      </svg>
                </div>
                <hr>
                <div class="d-flex" style="justify-content: space-evenly; align-items: center;">
                    <img src="/assets/images/editor-small-card.svg" alt="" srcset="">
                    <img src="/assets/images/editor-small-card.svg" alt="" srcset="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="29" viewBox="0 0 12 29" fill="none">
                        <path d="M12 14.5L0.750001 28.7894L0.750002 0.21058L12 14.5Z" fill="#222222"/>
                      </svg>
                </div>
                <hr>
                <div class="d-flex" style="justify-content: space-evenly; align-items: center;">
                    <img src="/assets/images/editor-small-card-2.svg" alt="" srcset="">
                    <img src="/assets/images/editor-small-card-2.svg" alt="" srcset="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="29" viewBox="0 0 12 29" fill="none">
                        <path d="M12 14.5L0.750001 28.7894L0.750002 0.21058L12 14.5Z" fill="#222222"/>
                      </svg>
                </div>
                <hr>
                <div style="display: flex; flex-direction: column; gap: 0.55rem;">
                    <button style="
                        color: var(--white, #FFF);
text-align: center;
font-family: Roboto;
font-size: 16.019px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 100%; 
height: 2rem; 
background-color: #15616B; 
border: none;">Button</button>
                    <button style="border-radius:  0.5rem;width: 100%; height: 2rem; background-color: #15616B; border: none;">Button</button>
                </div>
            </section>
            <section>
            </section>
         </div>
         <div class="color-palette-extension row" [style.display]="isColorVisible ? 'block' : 'none'">
            <section class="d-flex flex-column" style="gap: 0.5rem; ">
                <span class="row g-1" style="justify-content: center;">
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5" >
                            <rect width="31.4" height="33.5" fill="#E91E63" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#9C27B0" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#3F51B5" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#2196F3" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#03A9F4" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#00BCD4" />
                        </svg>
                    </div>
                </span>
                <span class="row g-1" style="justify-content: center;">
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#CDDC39" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#FFEB3B" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#FFC107" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#FF9800" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#E04C1E" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#F44336" />
                        </svg>
                    </div>
                </span>
                <span class="row g-1" style="justify-content: center;">
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#795548" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#9A9A9A" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#607D8B" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#009688" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#4BAB4F" />
                        </svg>
                    </div>
                    <div style="box-shadow: rgb(0, 0, 0) -1px 1px 2px; width: fit-content; padding:0">
                        <svg width="31.4" height="33.5">
                            <rect width="31.4" height="33.5" fill="#8BC34A" />
                        </svg>
                    </div>
                    <!-- <input type="color" name="red" id=""> -->
                </span>
            </section>
        </div>
        <div class="shapes collapse" id="shapes">
            <section style="display: flex;">
                <button mat-icon-button>
                    <mat-icon>circle</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon style="align-items: center; display: flex;"><img src="/assets/images/triangle.svg" alt="" srcset=""></mat-icon>
                </button>
                <button mat-icon-button style="padding-bottom: 15px;">
                    <span style="align-items: center;justify-content: center; display: flex; font-weight:900; text-align: center;">|</span>
                </button>
            </section>
        </div>
        <div class="pages collapse" id="pages">
            <button style="display: flex; border: none;background-color: transparent; justify-content: center;align-items: center;"><img src="/assets/icons/plus.svg" alt="" srcset=""> <h3 style="margin: 0;">Add Pages</h3></button>
            <hr>
            <div>
                
            <button routerLink="home" style="display: flex; border: none;background-color: transparent; justify-content: center;align-items: center; margin-bottom: 1.6rem;"><img src="/assets/icons/black_sqr.svg" style="margin: 0 24px 0 0;">Landing page</button>
            <button routerLink="contact-us" style="display: flex; border: none;background-color: transparent; align-items: center; margin-bottom: 1.6rem;"><img src="/assets/icons/black_sqr.svg" style="margin: 0 24px 0 0;">About us</button>
            <button routerLink="about-us" style="display: flex; border: none;background-color: transparent; align-items: center;"><img src="/assets/icons/black_sqr.svg" style="margin: 0 24px 0 0;">Contact us</button>
            </div>
        </div>
        
        <div id="layers" class="collapse row"> 
            <span class="btn" data-bs-toggle="collapse" data-bs-target="#section1">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="11" height="11" stroke="#00284C"/>
                    </svg>
                    header 
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                    <path d="M5.5 5L0.5 10L0.5 0L5.5 5Z" fill="#00284C"/>
                </svg>
                <div id="section1" class="collapse row ms-2">
                    <span>
                        <svg width="12" height="5" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="12" height="5" fill="#00284C"/>
                            </svg>
                            Rectangle</span>
                    <span>
                        <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.256 12V1.216H5.76V12H4.256ZM0.48 2.272V0.896H9.52V2.272H0.48Z" fill="#222222"/>
                            </svg>
                            Search</span>
                </div>
            </span>
            <span class="btn" ><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="11" height="11" stroke="#00284C"/>
                </svg>
                Splash image</span>
            <span class="btn" >
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="11" height="11" stroke="#00284C"/>
                    </svg>
                    Section 1 
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                    <path d="M5.5 5L0.5 10L0.5 0L5.5 5Z" fill="#00284C"/>
                </svg>
            </span>
            <span class="btn" >
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="11" height="11" stroke="#00284C"/>
                    </svg>
                    Section 2</span>
            <span class="btn" >
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="11" height="11" stroke="#00284C"/>
                    </svg>
                    Section 3</span>
            <span class="btn" >
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="11" height="11" stroke="#00284C"/>
                    </svg>
                    Footer 
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                    <path d="M5.5 5L0.5 10L0.5 0L5.5 5Z" fill="#00284C"/>
                </svg>
            </span>
        </div>
    </div>
    <mat-drawer-container class="container-fluid p-0 test">
        <mat-drawer #drawer mode="side" [opened]="true" class="side-nav mat-elevated-z4">
            <ul>
                <li matTooltip="Add Templates" (click)="showHideDiv('isTemplateVisible')">
                    <button mat-fab style="background-color: white; color: #0085FF;"
                        aria-label="Example icon button with a bookmark icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </li>
                <li matTooltip="Add Shapes" data-bs-toggle="collapse" data-bs-target="#shapes">
                    <button mat-fab style="background-color: white; color: black;">
                        <mat-icon style="background-color: black;" fontIcon="crop_square"></mat-icon>
                    </button>
                </li>
                <li>
                    <button matTooltip="Upload file" data-bs-toggle="modal" data-bs-target="#exampleModal"  style="background-color: white; color: #0085FF;" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                        <mat-icon>upload_2</mat-icon>
                    </button>
                </li>
                <li data-bs-toggle="collapse" data-bs-target="#pages">
                    <button matTooltip="Add Pages" mat-fab style="background-color: white;"
                        aria-label="Example icon button with a bookmark icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="27" viewBox="0 0 28 30" fill="none">
                            <path
                                d="M1 24.2534H5.10354M9.20707 24.2534H5.10354M5.10354 24.2534V20.1498M5.10354 24.2534V28.3569M7.85017 1H20.8447L27 7.1553V24.2534"
                                stroke="#0085FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M13.3213 28.3569H20.8444C21.3886 28.3569 21.9105 28.1407 22.2953 27.7559C22.68 27.3712 22.8962 26.8493 22.8962 26.3051V10.2316C22.8963 10.1236 22.8751 10.0167 22.8338 9.91692C22.7925 9.81716 22.7319 9.72654 22.6555 9.65024L18.3495 5.34426C18.273 5.2677 18.1822 5.20702 18.0822 5.1657C17.9822 5.12439 17.875 5.10325 17.7668 5.10352H4.43031C3.88615 5.10352 3.36427 5.31969 2.97949 5.70447C2.59471 6.08925 2.37854 6.61112 2.37854 7.15529V16.0463"
                                stroke="#0085FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M17.4248 5.10352V9.75419C17.4248 9.97185 17.5113 10.1806 17.6652 10.3345C17.8191 10.4884 18.0278 10.5749 18.2455 10.5749H22.8962"
                                stroke="#0085FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </li>
                <li data-bs-toggle="collapse" data-bs-target="#layers">
                    <button matTooltip="Add Layers" mat-fab style="background-color: white; color:#FF8A00;"
                        aria-label="Example icon button with a bookmark icon">
                        <mat-icon style="font-size: 28px;">layers</mat-icon>
                    </button>
                </li>
            </ul>
        </mat-drawer>
        <mat-drawer-content class="conatainer" style="position: relative;" >
            <div *ngIf="!dataservice.isMobileBool" [ngClass]="!dataservice.isEditable ? 'my-typograpy-hide' : 'my-typography'">
                <input [(ngModel)]="fontColor" (change)="changeFontColor()" type="color" value="#fff" />
                <select [(ngModel)]="fontName" data-element="fontSize" (click)="changeFontType()" name="cars" id="cars">
                    @for (font of fontType; track font) {
                        <option [value]="font">{{font}}</option>
                      }
                </select>
                <select [(ngModel)]="fontSize" data-element="fontSize" (click)="changeFontSize()" name="cars" id="cars">
                    <option default value=1>16</option>
                    <option value=2>12</option>
                    <option value=3>24</option>
                    <option value=4>36</option>
                    <option value=5>48</option>
                    <option value=6>64</option>
                    <option value=7>72</option>
                </select>
                <button mat-icon-button data-element="justifyLeft">
                    <mat-icon>format_align_left</mat-icon>
                </button>
                <button mat-icon-button data-element="justifyCenter">
                    <mat-icon>format_align_center</mat-icon>
                </button>
                <button mat-icon-button data-element="justifyRight">
                    <mat-icon>format_align_right</mat-icon>
                </button>
                <button mat-icon-button data-element="justifyFull">
                    <mat-icon>format_align_justify</mat-icon>
                </button>
                <button mat-icon-button data-element="createLink">
                    <mat-icon>link</mat-icon>
                </button>
            </div>
            <div *ngIf="dataservice.isMobileBool" style="display: flex; width: 100%; height: 100%;justify-content: center; ">
                <iframe title="mobile checker" [ngClass]="dataservice.isMobileBool ? 'mobile1' : 'desktop1'" src="/ecommerce/home"></iframe> 
            </div>
            <!-- <div  style="display: flex; width: 100%;"></div> -->
            <router-outlet *ngIf="!dataservice.isMobileBool"/>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body upload-modal"style="margin:43px">
            <div class="input-group mb-3">
                <input type="text" class="form-control" >
                <button class="btn mybtn btn-outline-secondary" type="button" id="button-addon2">Browse</button>
              </div>
              <div class="d-flex justify-content-end" style="margin-top:54px">
                <button class="mybtn save" style="border: none;">save</button>
              </div>
        </div>
        
      </div>
    </div>
  </div>


<div style="z-index: 99; position: relative;">
  
</div> 
