<h2 mat-dialog-title>Order Details</h2>

<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label=" Items">
      <div class="Items Purchased">
        <div
          class="purchase-item d-flex justify-content-between align-items-center"
          *ngFor="let item of data['items']"
        >
          <div class="pruduct-image-name d-flex align-items-center">
            <div class="product-images">
              <img [src]="item.image" alt="" class="product-image" />
            </div>
            <div class="product-name">
              {{ item.name }}
            </div>
          </div>
          <div class="product-amount">
            <div class="amount-quantity d-flex justify-content-between">
              <div class="product-amount product-price">
                Amount :
                <span class="discount-price">
                  ${{ item.price * ((100 - item.discount) / 100) }}
                </span>
                <span class="actual-price" *ngIf="item.discount > 0"
                  >${{ item.price }}</span
                >
                <span class="discount-percent" *ngIf="item.discount > 0">
                  {{ item.discount }}<span class="per-off">% OFF</span></span
                >
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div
          class="total-price d-flex justify-content-between align-items-center"
        >
          <div class="price-tag detail-type">Total Price</div>
          <div class="price">${{ sum }}</div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Address">
      <hr />
      <div class="text shipment-address">
        <p>{{ data["orderShipping"].name }}</p>
        <p>{{ data["orderShipping"].city }}</p>
        <p>{{ data["orderShipping"].streetAddress }}</p>
        <p style="color: #667085 !important">
          {{ data["orderShipping"].phone }}
        </p>
      </div>
      <hr />
    </mat-tab>
    <mat-tab label="Payment">
      <hr />
      <div
        class="Payment-method"
        style="margin-top: 6px; gap: 15px; display: flex"
      >
        <div>
          <img src="/assets/icons/master-card.svg" alt="" />
        </div>
        <div>
          <p style="color: #455468">Dean Andrew</p>
          <p style="color: #455468">0038347668173</p>
          <p style="color: #667085 !important">Expiry 06/2024</p>
        </div>
      </div>
      <hr />
    </mat-tab>
    <mat-tab label="Review">
      <form
        method="post"
        #reviewForm="ngForm"
        [formGroup]="postReview"
        (ngSubmit)="onSubmit(reviewForm)"
      >
        <div class="products-to-review">
          <div class="product-to-review">
            Select product you wish to review:
          </div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="product"
          >
            <mat-radio-button
              [value]="item.product"
              *ngFor="let item of data['items']"
            >
              <div
                class="product-review-details d-flex justify-content-between align-items-center"
              >
                <div class="product-review-name">{{ item.name }}</div>
                <div class="product-amount review">
                  <div class="amount-quantity d-flex justify-content-between">
                    <div class="product-amount product-price">
                      <span class="discount-price">
                        ${{ item.price * ((100 - item.discount) / 100) }}
                      </span>
                      <span class="actual-price" *ngIf="item.discount > 0"
                        >${{ item.price }}</span
                      >
                      <span class="discount-percent" *ngIf="item.discount > 0">
                        {{ item.discount
                        }}<span class="per-off">% OFF</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div
          class="how-will-you-div d-flex justify-content-between align-items-center"
        >
          <p class="how-will-you">How will you rate this product?</p>
          <div class="star-form-ratings">
            <app-star-rating
              (ratingChange)="onSetStar($event)"
            ></app-star-rating>
          </div>
        </div>

        <div class="form-group">
          <select
            class="form-select form-control title-filter"
            id="title"
            name="title"
            formControlName="remarks"
          >
            <option value="" selected>Title</option>
            <option>Satisfactory</option>
            <option>Outstanding</option>
            <option>Disappointing</option>
          </select>
        </div>

        <div class="form-group">
          <textarea
            id="description"
            name="description"
            rows="4"
            class="form-control"
            formControlName="comment"
            placeholder="Any feedback you would like to give your account manager..."
          ></textarea>
        </div>

        <button class="btn btn" type="submit" *ngIf="!isLoading">
          <span>Submit Feedback</span>
        </button>
        <span class="loading-spinner-small" *ngIf="isLoading">
          <img
            src="assets\icons\loading-btn-spinner.svg"
            alt="Loading.."
            class="spinner-image"
          />
        </span>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
