<div class="container-fluid">
  <div class="d-flex mb-5 align-items-center gap-3">
    <h2 class="m-0">Orders</h2>
  </div>
  <div class="sub-header d-flex" style="gap: 115px; padding-bottom: 20px">
    <span
      [ngClass]="isAllActive ? 'active' : ''"
      style="cursor: pointer"
      (click)="onSort('All')"
      >All</span
    >
    <span
      [ngClass]="isProcessingActive ? 'active' : ''"
      style="cursor: pointer"
      (click)="onSort('Processing')"
      >Processing</span
    >
    <span
      [ngClass]="isShippedActive ? 'active' : ''"
      style="cursor: pointer"
      (click)="onSort('Shipped')"
      >Shipped</span
    >
    <span
      [ngClass]="isDeliveredActive ? 'active' : ''"
      style="cursor: pointer"
      (click)="onSort('Delivered')"
      >Delivered</span
    >
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <th style="background-color: #f9fafb" mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="showSelection($event)"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="orderNumber">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Order Number
      </th>
      <td mat-cell *matCellDef="let row">{{ row.orderId }}</td>
    </ng-container>

    <ng-container matColumnDef="store">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Store
      </th>
      <td mat-cell *matCellDef="let row">{{ row.storeOrder?.storeName }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Status
      </th>
      <td mat-cell *matCellDef="let row" class="p-2">
        <div
          style="
            border-radius: 6px;

            margin-bottom: 0;
            width: 118px;
          "
        >
          <p
            style="margin-bottom: 0"
            [class.pending-payment]="row.status === 'Pending_Payment'"
            [class.processing]="row.status === 'Processing'"
            [class.shipped]="row.status === 'Shipped'"
            [class.delivered]="row.status === 'Delivered'"
            [class.cancelled]="row.status === 'Cancelled'"
          >
            {{ row.status }}
          </p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Date
      </th>
      <td mat-cell *matCellDef="let row">
        {{ datepipe.transform(row.updatedAt, "dd-MMM-YYYY") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Price
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.currency }} {{ row.amount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bubble">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      ></th>
      <td mat-cell *matCellDef="let row">
        <span (click)="moreVert(row)" class="btn">
          <img src="/assets/icons/bubble.svg" alt="" />
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
