<div class="container-fluid">
  <div class="container-header">
    <div class="progress-bar"></div>
    <div class="title">
      <p>Storefront</p>
    </div>
  </div>
  <div class="frame-wrapper">
    <div class="frame">
      <div class="image-div">
        <img src="assets\images\auth_success.svg" alt="" />
      </div>

      <form class="form">
        <div class="auth">
          <p></p>
          <button class="btn btn-primary" [routerLink]="['/login']">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
