<div class="container-fluid p-4">
  <div class="row flex-column">
    <div class="col p-4" style="border: 1px solid gray; border-radius: 8px">
      <form>
        <div class="row">
          <div class="col">
            <div>
              <label for="search-orders" class="label"> Search Orders</label>
            </div>
            <div class="d-flex input-wrapper" style="gap: 0.4rem">
              <div>
                <fa-icon [icon]="searchIcon"></fa-icon>
              </div>
              <div>
                <input
                  type="text"
                  id="search-orders"
                  placeholder="Search for product ID, Brand, Categories or something"
                />
              </div>
            </div>
            <section style="margin-top: 70px">
              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Vendor name</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Order number</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </section>
            <section>
              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Active</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col" style="width: 39%">
                      <mat-form-field appearance="outline">
                        <mat-label>Order value</mat-label>
                        <input matInput placeholder="$ 0.00" />
                      </mat-form-field>
                    </div>
                    <div class="col" style="width: 39%">
                      <mat-form-field appearance="outline">
                        <mat-label>Input</mat-label>
                        <input matInput placeholder="$ 0.00" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Order date from</mat-label>
                    <input matInput [matDatepicker]="picker" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon
                        >keyboard_arrow_down</mat-icon
                      >
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Order date to</mat-label>
                    <input matInput [matDatepicker]="picker" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon
                        >keyboard_arrow_down</mat-icon
                      >
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </section>
            <section>
              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Payment method</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Payment status</mat-label>
                    <input matInput placeholder="Paid" />
                  </mat-form-field>
                </div>
              </div>
            </section>
          </div>
          <div class="col button-wrapper">
            <button class="btn btn-light">Clear</button>
            <button class="btn btn-primary">SEARCH</button>
          </div>
        </div>
      </form>
    </div>
    <div
      class="col p-4"
      style="margin-top: 30px; border-radius: 8px; border: 1px solid gray"
    >
      <div class="mat-elevation-z8 w-100">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="order-number">
            <th mat-header-cell *matHeaderCellDef>Order number</th>
            <td mat-cell *matCellDef="let element">
              {{ element.orderNumber }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="order-date">
            <th mat-header-cell *matHeaderCellDef>Order date</th>
            <td mat-cell *matCellDef="let element">{{ element.orderDate }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="order-status">
            <th mat-header-cell *matHeaderCellDef>Order status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.orderStatus }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="total-value">
            <th mat-header-cell *matHeaderCellDef>Total value</th>
            <td mat-cell *matCellDef="let element">{{ element.totalValue }}</td>
          </ng-container>

          <ng-container matColumnDef="payment-method">
            <th mat-header-cell *matHeaderCellDef>Payment Method</th>
            <td mat-cell *matCellDef="let element">
              {{ element.paymentMethod }}
            </td>
          </ng-container>

          <ng-container matColumnDef="payment-status">
            <th mat-header-cell *matHeaderCellDef>Payment status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.paymentStatus }}
            </td>
          </ng-container>

          <ng-container matColumnDef="p-number">
            <th mat-header-cell *matHeaderCellDef>PO no.</th>
            <td mat-cell *matCellDef="let element">{{ element.p_number }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
