<div class="container-fluid" style="padding-left: 32px; padding-right: 32px">
  <div class="row justify-content-between" style="padding-left: 41px">
    <div class="col">
      <h4>Payment Option</h4>
    </div>
    <div
      class="col d-flex justify-content-end align-items-center"
      style="gap: 10px; padding-right: 31px"
    >
      <button class="d-flex justify-content-around button">
        <fa-icon [icon]="filterIcon" style="font-size: 15px"></fa-icon>
        <p>Filter</p>
      </button>
      <form>
        <div class="search d-flex">
          <fa-icon
            [icon]="seaechICon"
            style="font-size: 15px; color: #1b4dff"
          ></fa-icon>
          <input type="text" placeholder="Search........" />
        </div>
      </form>
      <button class="new-payment">
        <p>New Payment</p>
      </button>
    </div>
  </div>
  <section
    class="container"
    style="
      width: 100%;
      padding-top: 102px;
      padding-right: 10rem;
      padding-left: 10rem;
    "
  >
    <div class="d-flex w-100 flex-column">
      <div
        class="d-flex justify-content-center payment-card-selected"
        style="gap: 20px; margin-bottom: 20px"
      >
        <div>
          <fa-icon [icon]="visa" style="font-size: 40px"></fa-icon>
        </div>
        <div class="d-flex justify-content-between w-100">
          <div>
            <div>
              <p>Emmanuella Neizer</p>
              <p>822873648717</p>
              <p>Expiry 06/2024</p>
            </div>
            <div class="d-flex" style="gap: 12px">
              <p>Set as Default</p>
              <span>Edit</span>
            </div>
          </div>
          <button class="check">
            <fa-icon [icon]="checkIcon"></fa-icon>
          </button>
        </div>
      </div>
      <div
        class="d-flex justify-content-center payment-card"
        style="gap: 20px; margin-bottom: 20px"
      >
        <div>
          <fa-icon [icon]="masterCard" style="font-size: 40px"></fa-icon>
        </div>
        <div class="d-flex justify-content-between w-100">
          <div>
            <div>
              <p>Emmanuella Neizer</p>
              <p>822873648717</p>
              <p>Expiry 06/2024</p>
            </div>
            <div class="d-flex" style="gap: 12px">
              <p>Set as Default</p>
              <span>Edit</span>
            </div>
          </div>
          <button class="selected">
            <!-- <fa-icon [icon]="selected"></fa-icon> -->
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
