
.product-header {
  font-family: "Inter";
  font-style: normal;
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  .product-title {
    .product-head {
      color: #455468;
      font-size: 22px;
      font-weight: 600;
      line-height: 35px;
      letter-spacing: -0.3px;
      margin-right: 1rem;

    }
    .product-members {
      padding: 2px 8px;
      background-color: #f0f3f9;
      border-radius: 6px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.2px;
      color: #5e718d;
    }

  }
  .search-filter {
    form {
      margin: 0 0.6rem;
    }
    .button {
      border-radius: 6px;
      border: 1px solid #4a72ff;
      background: #fff;
      padding: 6px 12px;
      align-items: center;
      gap: 10px;

      fa-icon {
        color: blue;
      }

      p {
        color: #1b4dff;

        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 0;
      }
    }
    .search {
      width: 253px;
      padding: 6px 12px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #f2f5ff;

      input {
        outline: none;
        border: none;
        background: #f2f5ff;
        color: #1b4dff;
        font-family: Inter;
        font-size: 14px;

        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;

        &::placeholder {
          color: #1b4dff;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
        }
      }
    }
    .new-product {
      padding: 6px 12px;
      border-radius: 6px;
      background: #0f3cd9;
      border: none;
      color: #fff;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      margin: 0;
<<<<<<< feature-merchant-customer
    }
  }
}
.empty-dashboard {
  display: flex;
  flex-direction: column;
  width: 556px;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
  }
  h1 {
    color: var(--Gray-900, #101828);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
  p {
    color: var(--Colors-Primary-Slate-700, #3d4a5c);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    margin-bottom: 24px;
    margin-top: 8px;
  }
  button {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Primary-700, #0408e7);
    background: var(--Primary-700, #0408e7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Base-White, #fff);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
=======
    }
  }
}
.empty-dashboard {
  display: flex;
  flex-direction: column;
  width: 556px;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  span {
    display: flex;
    justify-content: center;
  }
  h1 {
    color: var(--Gray-900, #101828);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.5px;
  }
  p {
    color: var(--Colors-Primary-Slate-700, #3d4a5c);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    margin-bottom: 24px;
    margin-top: 8px;
    padding: 0 5rem;
  }
  button {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Primary-700, #0408e7);
    background: var(--Primary-700, #0408e7);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Base-White, #fff);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
  }
}
.discount-form {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 30%;
  margin-top: 1rem;
  margin-right: 2rem;
  font-family: Inter;
  font-style: normal;
  padding: 1.5rem;
  border-radius: 12px;
  float: right;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  input::placeholder {
    color: #8897ae;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  label {
    color: #3d4a5c;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .discount-head {
    .discount-heading {
      color: #101828;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.3px;
    }
  }
  .discount-name {
    margin-bottom: 1rem;
  }
  .orders-quantity {
    margin-bottom: 1rem;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .applies-to {
      width: 48%;
    }
    .discount-quantity {
      width: 48%;
    }
  }
  .discount-date {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .start-date {
      width: 48%;
    }
    .end-date {
      width: 48%;
    }
  }
  .discount-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      padding: 0.5rem 3rem;
      width: 48%;
    }
    .cancel-btn {
      border: 1px solid #afbaca;
      background-color: #fff;
    }
  }
}

.table-div {
  width: 97%;
  table {
    margin: 1rem;
    margin-top: 2rem;

    th.mat-mdc-header-cell {
      background-color: #f9fafb;
      color: #8897ae;

      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.2px;
    }
    td.mat-column-checkbox {
      width: 5%;
    }
  }
  ::ng-deep .mat-mdc-table {
    max-width: 90%;
>>>>>>> develop
  }
}
