@if(isLoading){
<div class="loading-spinner-medium">
  <img
    src="assets\icons\loading-btn-spinner.svg"
    alt="Loading.."
    class="spinner-image"
  />
</div>
} @if(!isLoading && discountNumber === 0){
<div class="empty-div">
  <div class="d-flex justify-content-center align-items-center">
    <div class="empty-dashboard">
      <span>
        <img src="/assets/icons/merchant_discount_empty.svg" alt="" srcset="" />
      </span>
      <h1>No discounts found</h1>
      <p>
        It seems there are no discounts available at the moment. Start by adding
        a new discount below.
      </p>
      <button class="btn btn-primary" (click)="toggleForm()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="21"
          viewBox="0 0 21 21"
          fill="none"
        >
          <path
            d="M10.5 4.50586V16.1725M4.66669 10.3392H16.3334"
            stroke="white"
            stroke-width="1.66667"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span>New Discount</span>
      </button>
    </div>
  </div>

  <div class="loading-spinner-small" *ngIf="isLoading">
    <img
      src="assets\icons\loading-btn-spinner.svg"
      alt="Loading.."
      class="spinner-image"
    />
  </div>
</div>

} @if(!isLoading && discountNumber > 0){
<div class="main-container">
  <div class="product-header d-flex align-items-center justify-content-between">
    <div class="product-title d-flex align-items-center">
      <h2 class="product-head">Discount</h2>
      <span class="product-members"
        ><span class="number-customers">{{ discountNumber }} </span>
        Discount<span *ngIf="discountNumber > 1">s</span> Available
      </span>
    </div>
    <div class="search-filter">
      <div class="col d-flex justify-content-end align-items-center">
        <button class="d-flex justify-content-around button">
          <fa-icon [icon]="filterIcon" style="font-size: 15px"></fa-icon>
          <p>Filter</p>
        </button>
        <form>
          <div class="search d-flex">
            <fa-icon
              [icon]="seaechICon"
              style="font-size: 15px; color: #1b4dff"
            ></fa-icon>
            <input
              type="text"
              placeholder="Search........"
              (keyup)="applyFilter($event)"
              #input
              matInput
            />
          </div>
        </form>
        <button class="new-product btn" (click)="toggleForm()">
          New Discount
        </button>
      </div>
    </div>
  </div>
</div>

<div class="table-div">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="checkbox">
      <th style="background-color: #f9fafb" mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="showSelection($event)"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="background-color: #f9fafb">
        Name
      </th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.statement }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Discount %</th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.discount }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.start | date : "mediumDate" }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.end | date : "mediumDate" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="bubble">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <span (click)="moreVert(row)">
          <img
            src="assets\images\tomatoes\table-loading.svg"
            alt=""
            class="table-loading"
        /></span>
      </td>
    </ng-container>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-result" colspan="4" *ngIf="discountNumber > 0">
        No data matching "{{ input.value }}"
      </td>
    </tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-result" colspan="4" *ngIf="discountNumber === 0">
        No Discount Found
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="no-result-found" *ngIf="discountNumber === 0">
    No Discount Found
  </div>
</div>
}

<form
  action="#"
  method="post"
  class="discount-form"
  *ngIf="showForm"
  #postDiscount="ngForm"
  [formGroup]="addDiscount"
  (ngSubmit)="onSubmit(postDiscount)"
>
  <div class="discount-head d-flex justify-content-between align-items-center">
    <h4 class="discount-heading">Discount</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="toggleForm()"
    ></button>
  </div>
  <div class="form-group discount-name">
    <label for="discount">Discount Name</label>
    <input
      type="text"
      id="discount"
      name="discount"
      class="form-control"
      placeholder="eg. Black Friday"
      formControlName="discountName"
    />
  </div>
  <div class="form-group d-flex align-items-center orders-quantity">
    <div class="applies-to">
      <label for="the-orders">Applies to</label>
      <select
        class="form-select"
        id="the-orders"
        formControlName="storeCategory"
      >
        <option selected>Selected Product</option>
        <option *ngFor="let cat of storeCategories">
          {{ cat }}
        </option>
      </select>
    </div>
    <div class="discount-quantity">
      <label for="quantity"></label>
      <input
        type="number"
        id="quantity"
        name="quantity"
        class="form-control"
        placeholder="Discount %"
        formControlName="quantity"
        min="1"
        max="100"
      />
    </div>
  </div>
  <div class="discount-date d-flex align-items-center">
    <div class="form-group start-date">
      <label for="startDate">Start Date</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        class="form-control"
        placeholder="Start date"
        formControlName="startDate"
      />
    </div>
    <div class="form-group end-date">
      <label for="endDate">End</label>
      <input
        type="date"
        id="endDate"
        name="endDate"
        class="form-control"
        placeholder="End date"
        formControlName="endDate"
      />
    </div>
  </div>
  <div class="discount-btns">
    <button class="btn cancel-btn" type="button" (click)="toggleForm()">
      Cancel
    </button>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!postDiscount.valid"
    >
      <span class="not-loading" *ngIf="!isPosting">Send</span>
      <img
        src="assets\icons\loading-btn-spinner.svg"
        alt="Loading.."
        class="posting-spin"
        *ngIf="isPosting"
      />
    </button>
  </div>
</form>

<mat-paginator
[pageSizeOptions]="[8, 10, 25, 100]"
aria-label="Select page of users"
></mat-paginator>