@if(isLoading){
<div class="loading-spinner-medium">
  <img
    src="assets\icons\loading-btn-spinner.svg"
    alt="Loading.."
    class="spinner-image"
  />
</div>
} @if(!isLoading && numberOfReviews === 0){
<div class="empty-div">
  <div class="empty-block">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="empty-dashboard">
        <span>
          <img src="/assets/icons/merchant_review_empty.svg" alt="" srcset="" />
        </span>
        <h1>No review found</h1>
        <p>
          Be the first to share your thoughts! Your <br />
          feedback is important to us and other users.
        </p>
      </div>
    </div>
  </div>
</div>

} @if(!isLoading && numberOfReviews > 0){

<section class="review-page">
  <div class="filter-block">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h4 class="review-head">Reviews</h4>
        <div class="number-of-reviews">
          <span class="review-number">{{ numberOfReviews }}</span>
          <span class="review">Review</span>
          <span class="reviews" *ngIf="numberOfReviews !== 1">s</span>
        </div>
      </div>
      <div
        class="d-flex justify-content-end align-items-center"
        style="gap: 10px; padding-right: 31px"
      >
        <button class="d-flex justify-content-around button">
          <fa-icon
            [icon]="filterIcon"
            style="font-size: 15px; color: #1b4dff"
          ></fa-icon>
          <p>Filter</p>
        </button>
        <form>
          <div class="search d-flex">
            <fa-icon
              [icon]="seaechICon"
              style="font-size: 15px; color: #1b4dff"
            ></fa-icon>
            <input
              type="text"
              placeholder="Search........"
              matInput
              (keyup)="applyFilter($event)"
              #input
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-form">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th style="background-color: #f9fafb" mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="showSelection($event)"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th
          style="background-color: #f9fafb"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Product Info
        </th>
        <td mat-cell *matCellDef="let row" (click)="moreVert(row)">
          <div class="product-info d-flex align-items-center">
            <div class="product-images">
              <img
                [src]="row.productReview.images[0].url"
                alt=""
                class="product-image"
              />
            </div>
            <div class="product-name-date">
              <p class="product-name">{{ row.productReview.name }}</p>
              <p class="product-date">
                Posted: <span>{{ row.createdAt | date : "mediumDate" }}</span>
              </p>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          style="background-color: #f9fafb"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Name
        </th>
        <td mat-cell *matCellDef="let row" (click)="moreVert(row)">
          <div class="customer-info d-flex align-items-center">
            <div
              class="customer-image d-flex justify-content-center align-items-center"
            >
              <span class="first-initials">{{
                row.customerReview.firstName.charAt(0)
              }}</span>
              <span class="last-initials">
                {{ row.customerReview.lastName.charAt(0) }}
              </span>
            </div>
            <div class="product-name-date">
              <p class="customer-name">
                <span class="first-name">{{
                  row.customerReview.firstName
                }}</span
                ><span class="last-name">
                  {{ row.customerReview.lastName }}
                </span>
              </p>
              <p class="customer-date">Ghana</p>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="customer">
        <th
          style="background-color: #f9fafb"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Customer Reviews
        </th>
        <td mat-cell *matCellDef="let row" (click)="moreVert(row)">
          <div class="customer-review">
            <h5 class="review-title">{{ row.remarks }}</h5>
            <p class="review-description">
              {{ row.comment }}
            </p>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="rating">
        <th
          style="background-color: #f9fafb"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Rated
        </th>
        <td mat-cell *matCellDef="let row" (click)="moreVert(row)">
          <div class="rating">
            <app-star-rating
              [rating]="row.rating"
              [readonly]="true"
            ></app-star-rating>
          </div>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-result" colspan="4" *ngIf="numberOfReviews > 0">
          No data matching "{{ input.value }}"
        </td>
      </tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="no-result-found" *ngIf="numberOfReviews === 0">
    No Review Found
  </div>
</section>

}
<mat-paginator
style="margin-top: 30px"
[pageSizeOptions]="[8, 10, 25, 100]"
aria-label="Select page of users"
></mat-paginator>
