@if(merchantCustomersEmpty){
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="empty-dashboard">
    <span>
      <img src="/assets/images/customer_empty.svg" alt="" srcset="" />
    </span>
    <h1>No customer found</h1>
    <p>
      It seems like there are no customers in your list. <br />
      You can start by adding a new customer to <br />
      get things rolling
    </p>
  </div>
</div>
} @if(!merchantCustomersEmpty){
<div class="container-fluid">
  <div class="product-header d-flex align-items-center justify-content-between">
    <div class="product-title d-flex align-items-center">
      <h2 class="product-head">Customers</h2>
      <span class="product-members"
        ><span class="number-customers">{{ this.numberOfCustomer }}</span>
        members
      </span>
    </div>
    <div class="search-filter">
      <div class="col d-flex justify-content-end align-items-center">
        <button class="d-flex justify-content-around button">
          <fa-icon [icon]="filterIcon" style="font-size: 15px"></fa-icon>
          <p>Filter</p>
        </button>
        <form>
          <div class="search d-flex">
            <fa-icon
              [icon]="seaechICon"
              style="font-size: 15px; color: #1b4dff"
            ></fa-icon>
            <input type="text" placeholder="Search........" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <th style="background-color: #f9fafb" mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="showSelection($event)"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Name
      </th>
      <td mat-cell *matCellDef="let row">
        <div
          class="customer-info d-flex justify-content-start align-items-center"
        >
          <div
            class="customer-image d-flex justify-content-center align-items-center"
          >
            <span class="first-intial"> {{ row.firstName.charAt(0) }} </span>

            <span class="second-initial"> {{ row.lastName.charAt(0) }} </span>
          </div>

          <div class="customer-name">
            <span class="first-name">
              {{ row.firstName }}
            </span>
            <span class="last-name">{{ row.lastName }}</span>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Email
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="customer-email">{{ row.email }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="orders">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        <div>Orders #</div>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="product-quantity">{{ row.orders }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="lastOrder">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Last Order
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="order-date">
          {{ row.lastOrderDate | date : "mediumDate" }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="bubble">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      ></th>
      <td mat-cell *matCellDef="let row">
        <span class="btn" (click)="moreVert(row)">
          <img src="assets\images\moreVert.svg" alt="" />
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>

}
