.purchase-item {
  display: flex;
  gap: 1rem;
  height: 86px;
  align-items: center;
}
.detail-type {
  color: var(--Colors-Primary-Slate-500, #5e718d);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.detail-shop-name,
.item-collection-type {
  color: var(--Colors-Primary-Slate-500, #5e718d);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.item-name {
  color: var(--Colors-Primary-Slate-600, #455468);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  .price-tag {
  }
  .price {
    color: var(--Colors-Primary-Slate-600, #455468);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
  }
}
.btn-cart {
  background-color: #0f3cd9 !important;
  color: #0f3cd9 !important;
}
.btn-right {
  text-align: right;
}
.store-info {
  text-transform: capitalize;
  .detail-type {
    margin-right: 1rem;
  }
}
.product-image {
  width: 56px;
  height: 56px;
  border-radius: 5px;
}
.product-price {
  color: #1c222b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.3px;

  .discount-price {
    color: #5e718d;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.3px;
  }
  .actual-price {
    color: #afbaca;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    text-decoration: line-through;
  }
  .discount-percent {
    color: #d21a0e;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
.delete-btn {
  border: 0;
  background: transparent;
  color: #ff3838;
  outline: none;
  & :hover {
    color: #455468;
  }
}
