<h2 mat-dialog-title>Purchase Details</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <span class="d-flex flex-column">
      <span class="detail-type">Store</span>
      <span class="detail-shop-name mt-2">ShopNest</span>
    </span>
    <hr />
    <div class="purchase-item">
      <img [src]="data.images[0].url" style="width: 19%" alt="" />
      <span class="d-flex flex-column">
        <span class="d-flex" style="align-items: end">
          <span class="item-name" style="width: 187px">{{ data.name }}</span>
          <span class="item-collection-type">{{ data.price }} EUR</span>
        </span>
        <span class="item-collection-type">{{ data.category }}</span>
      </span>
    </div>
    <hr />
    <div class="total-price">
      <span class="price-tag detail-type">Total Price</span>
      <span class="price">{{ data.quantity * data.price }} EUR</span>
    </div>
  </div>
</mat-dialog-content>
