<div class="container-fluid">
  <div class="container-header">
    <div class="progress-bar"></div>
    <div class="title">
      <p>Storefront</p>
    </div>
  </div>
  <div class="frame-wrapper">
    <div class="frame">
      <div class="frame-header">
        <h1>Authentication</h1>
        <p>Please kindly enter the code sent to your email</p>
      </div>
      <div class="auth">
        <div class="rectangle-wrapper">
          <div class="rectangle">
            <label for="auth"></label>
            <input type="text" id="auth" name="auth" />
          </div>
          <div class="rectangle">
            <label for="auth"></label>
            <input type="text" id="auth" name="auth" />
          </div>
          <div class="rectangle">
            <label for="auth"></label>
            <input type="text" id="auth" name="auth" />
          </div>
          <div class="rectangle">
            <label for="auth"></label>
            <input type="text" id="auth" name="auth" />
          </div>
          <div class="rectangle">
            <label for="auth"></label>
            <input type="text" id="auth" name="auth" />
          </div>
          <div class="rectangle">
            <label for="auth"></label>
            <input type="text" id="auth" name="auth" />
          </div>
        </div>
        <div class="text">
          <p>Didn’t get, <a href="#">Resend</a></p>
        </div>
        <button class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
