<div class="container-fluid">
  <div class="container-header">
    <div class="progress-bar"></div>
    <div class="title">
      <p>Storefront</p>
    </div>
  </div>
  <div class="frame-wrapper">
    <div class="frame">
      <div class="frame-header">
        <h1>Authentication</h1>
        <p>Please kindly enter the code sent to your email</p>
      </div>
      <form
        class="form"
        #authenticate="ngForm"
        [formGroup]="AuthCode"
        (ngSubmit)="submitCode(authenticate)"
      >
        <div class="auth">
          <div class="rectangle-wrapper">
            <div class="rectangle">
              <label for="auth"></label>
              <input
                type="text"
                id=""
                maxlength="1"
                name="keyOne"
                formControlName="keyOne"
                maxlength="1"
              />
            </div>
            <div class="rectangle">
              <label for="auth"></label>
              <input
                type="text"
                id=""
                name="keyTwo"
                formControlName="keyTwo"
                maxlength="1"
              />
            </div>
            <div class="rectangle">
              <label for="auth"></label>
              <input
                type="text"
                id=""
                maxlength="1"
                name="keyThree"
                formControlName="keyThree"
              />
            </div>
            <div class="rectangle">
              <label for="auth"></label>
              <input
                type="text"
                id=""
                maxlength="1"
                name="keyFour"
                formControlName="keyFour"
              />
            </div>
            <div class="rectangle">
              <label for="auth"></label>
              <input
                type="text"
                id=""
                maxlength="1"
                name="keyOne"
                formControlName="keyFive"
              />
            </div>
            <div class="rectangle">
              <label for="auth"></label>
              <input
                type="text"
                id=""
                maxlength="1"
                name="keySix"
                formControlName="keySix"
              />
            </div>
          </div>
          <div class="text">
            <p>
              Didn’t get,
              <a (click)="resendVerificationCode()">Resend</a>
            </p>
          </div>
          <p>
            <span class="help-block" *ngIf="error">
              {{ error }}
            </span>
          </p>
          <button class="btn btn-primary" [disabled]="!authenticate.valid">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
