<h2 mat-dialog-title>Payment</h2>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Card">
      <div class="cards-div">
        <form class="cards-form">
          <div class="cards-btns">
            <mat-radio-group
              aria-label="Select an option"
              class="cards-available"
            >
              <div class="payment-card">
                <mat-radio-button value="1" checked>
                  <div class="visa-select d-flex align-items-center">
                    <div class="paypal-image">
                      <img src="assets\images\visa.svg" alt="" />
                    </div>
                    <div class="card-paragraph">Visa Card</div>
                  </div>
                </mat-radio-button>
              </div>
              <div class="payment-card">
                <mat-radio-button value="2">
                  <div class="mastercard-select d-flex align-items-center">
                    <div class="paypal-image">
                      <img src="assets\images\mastercard.svg" alt="" />
                    </div>
                    <div class="card-paragraph">Mastercard</div>
                  </div>
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
          <div>
            <label for="name">Name</label>
          </div>
          <div class="input-wrapper">
            <input type="text" placeholder="Fidelis" id="name" />
          </div>
          <div>
            <label for="card-number">Card Number</label>
          </div>
          <div class="input-wrapper">
            <input type="text" placeholder="34563437859" id="card-number" />
          </div>
          <div>
            <label for="cvv">CVV</label>
          </div>
          <div class="input-wrapper">
            <input type="text" placeholder="123" id="cvv" />
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Paypal">
      <form
        class="paypal-form"
        method="post"
        #paypalForm="ngForm"
        [formGroup]="addPaypal"
        (ngSubmit)="AddPaypalMethod(paypalForm)"
      >
        <mat-radio-group aria-label="Select an option" formControlName="method">
          <div class="payment-card-paypal">
            <mat-radio-button value="Paypal" checked>
              <div class="paypal-select d-flex align-items-center">
                <div class="paypal-image">
                  <img src="assets\images\PayPal.svg" alt="" />
                </div>
                <div class="paypal-paragraph">PayPal</div>
              </div>
            </mat-radio-button>
          </div>
        </mat-radio-group>

        <div>
          <label for="name">Name</label>
        </div>
        <div class="input-wrapper">
          <input
            type="text"
            placeholder="Fidelis"
            id="name"
            formControlName="name"
          />
        </div>
        <div>
          <label for="card-number">Card Number</label>
        </div>
        <div class="input-wrapper">
          <input
            type="text"
            placeholder="34563437859"
            id="card-number"
            formControlName="walletId"
          />
        </div>
        <div>
          <label for="cvv">CVV</label>
        </div>
        <div class="input-wrapper">
          <input
            type="text"
            placeholder="123"
            id="cvv"
            formControlName="secret"
            maxlength="3"
          />
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions class="bottom-btns">
  <button class="cancel" mat-button mat-dialog-close>Cancel</button>
  <button class="save" mat-button [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>
