@if(isLoading){
<div class="loading-spinner-medium">
  <img
    src="assets\icons\loading-btn-spinner.svg"
    alt="Loading.."
    class="spinner-image"
  />
</div>
} @if(!isLoading && numOfPayload === 0){
<div class="empty-div">
  <div class="empty-dashboard">
    <span>
      <img src="assets\images\Analitics_empty.svg" alt="" />
    </span>
    <h1>
      No analytics data <br />
      found
    </h1>
    <p>
      It seems there's no data available for the selected <br />
      criteria. Check back later to track your <br />
      insights.
    </p>
  </div>
  <div class="loading-spinner-small">
    <img
      src="assets\icons\loading-btn-spinner.svg"
      alt="Loading.."
      class="spinner-image"
      *ngIf="isLoading"
    />
  </div>
</div>
} @if(!isLoading && numOfPayload > 0){
<div class="container-fluid">
  <div class="d-flex mb-5 align-items-center gap-3 mt-4">
    <h2>Payout</h2>
    <span class="payout-availabity">{{ payoutAvailable }}</span>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="paymentMethod">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="header"
      >
        Payment Method
      </th>
      <td
        class="content"
        mat-cell
        *matCellDef="let row"
        style="text-align: center; width: 179px"
      >
        <img src="/assets/icons/PayPal.svg" alt="" style="text-align: center" />
      </td>
    </ng-container>
    <ng-container matColumnDef="wallet">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="header"
      >
        Wallet
      </th>
      <td class="content" mat-cell *matCellDef="let row">{{ row?.wallet }}</td>
    </ng-container>
    <ng-container matColumnDef="orderId">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="header"
      >
        Order ID
      </th>
      <td class="content" mat-cell *matCellDef="let row">
        {{ row.orderPayout?.orderId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalCost">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="header"
      >
        Total Cost
      </th>
      <td class="total" mat-cell *matCellDef="let row">
        ${{ row.orderPayout.amount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="commission">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="header"
      >
        Commission
      </th>
      <td mat-cell *matCellDef="let row" class="p-2">
        <div>
          <p
            class="content commission"
            style="margin-bottom: 0; color: red !important"
          >
            {{ row.commission }}%
          </p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="recieved">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="header"
      >
        Recieved
      </th>
      <td class="content recieved" mat-cell *matCellDef="let row">
        ${{ row.amount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        style="background-color: #f9fafb"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="header"
      >
        Date
      </th>
      <td class="content" mat-cell *matCellDef="let row">
        {{ row.createdAt | date : "mediumDate" }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
}
