.app-name {
  color: var(--Primary, #0085ff);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.header-btn {
  color: var(--Colors-Primary-Primary-200, #94abff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  border: 0.5px solid var(--Gray-100, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: 0px 0px 0px 1px #94abff, 0px 1px 2px 0px #94abff;
}
.body-btn {
  display: flex;
  width: 448px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 0px;
  color: #fff;
  background: var(--Colors-Primary-Primary-600, #0f3cd9);
}
.body-txt-header {
  color: var(--Colors-Primary-Slate-900, #1c222b);
  text-align: center;
  /* Headline: 3/Bold */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: -1.75px;
}
.body-txt-p {
  color: var(--Colors-Primary-Slate-700, #3d4a5c);
  text-align: center;
  /* Paragraph: 4/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.3px;
}
.body-txt-p {
  color: var(--Colors-Primary-Slate-700, #3d4a5c);
  text-align: center;
  /* Paragraph: 4/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.3px;
}
.mouse-pointer:hover {
  margin-left: 10px;
  border-radius: 5px;
  background-color: #fdfdfd;
  cursor: pointer !important;
  transition: ease-in-out 0.2s;
  transform: scale(1.2);
}
.type-selector-container {
  width: 740px;
  border: 1px solid var(--Colors-Primary-Slate-300, #afbaca);
  max-height: 250px;
  margin-top: 20px;
  border-radius: 6px;
  padding: 10px;
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: #0f3cd9;
  }
}
.website-type:active {
  color: #0085ff;
  cursor: pointer;
}
.website-type-container {
  display: flex;
  flex-direction: column;
  width: 760px;
  max-height: 200px;
  overflow-y: scroll;
}

.search-box {
  display: flex;
  // width: 624px;

  height: 46px;
  padding: 11px 14px;
  justify-content: center;
  align-items: center;
  // gap: 310px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--Colors-Primary-Slate-300, #afbaca);
  background: var(--Colors-Primary-Slate-25, #f9fafb);
  input {
    background: var(--Colors-Primary-Slate-25, #f9fafb);
    border: none;
  }
  input:focus {
    outline: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 52px;
  // width: 796px;
}

// .span-option-container{
//     display: flex;
//     padding: 28px 116px 28px 38px;
//     align-items: center;
//     border-radius: 16px;
//     border: 1px solid var(--Gray-300, #D0D5DD);
//     background: var(--Base-White, #FFF);
//     box-shadow: 0px 0px 0px 2px #94ABFF, 0px 1px 2px 0px #94ABFF;
// }

// .radio-txt{
//     color: var(--Colors-Primary-Slate-700, #3D4A5C);
//     text-align: center;
//     font-family: Inter;
//     font-size: 20px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 32px; /* 160% */
//     letter-spacing: -0.3px;
// }

// main{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 48px;
//     margin-top: 179px;
// }
