:host {
  width: 100%;
}

.more-vert-btn {
  cursor: pointer;
}

.product-members {
  padding: 2px 8px;

  width: 87px;
  height: 24px;
  background: #f0f3f9;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #5e718d;
}
