<div class="main-container">
  <section class="add-product">
    <form
      class="form"
      #addProductForm="ngForm"
      [formGroup]="productForm"
      (ngSubmit)="onSubmit(addProductForm)"
      enctype="multipart/form-data"
    >
      <div
        class="product-save d-flex align-items-center justify-content-between"
      >
        <div class="product-name">
          <h4 class="product-header">Product</h4>
          <div class="product-name-paragraph">
            <span class="product-name light">
              Page name
              <img src="assets\icons\product-name-arrow.svg" alt="" /> Page name
              <img src="assets\icons\product-name-arrow.svg" alt="" />
            </span>
            <span class="product-name bold"> Page name </span>
          </div>
        </div>
        <div class="save-cancel">
          <button
            type="button"
            class="btn cancel-btn"
            (click)="resetProductForm(addProductForm)"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="onSubmit(addProductForm)"
          >
            Save
          </button>
        </div>
      </div>
      <div class="details-media d-flex justify-content-between">
        <div class="product-details">
          <h3 class="product-details-header product-header">Product details</h3>
          <p class="product-details-paragraph product-paragraph">
            Add information for the product you are creating
          </p>
          <div class="form-group">
            <label for="product-name" class="label-name">Product Name</label>
            <input
              [(ngModel)]="productDetails.name"
              type="tel"
              id="product-name"
              name="product-name"
              class="form-control"
              placeholder="Enter product name"
              maxlength="50"
              formControlName="productName"
            />
            <p class="product-paragraph">
              Do not exceed 50 characters when entering product name
            </p>
          </div>

          <div
            class="form-group price-stock d-flex justify-content-between align-items-center name-email"
          >
            <div class="price-input-tag">
              <label for="price" class="label-name">Price</label>
              <input
                [(ngModel)]="productDetails.price"
                type="text"
                id="price"
                name="productPrice"
                class="form-control"
                placeholder="GH$"
                formControlName="productPrice"
              />
            </div>
            <div class="stock">
              <label for="stock" class="label-name">Stock</label>
              <input
              [(ngModel)]="productDetails.quantity"
                type="stock"
                id="stock"
                name="productStock"
                class="form-control"
                placeholder="1"
                formControlName="productStock"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="Description" class="label-name">Description</label>
            <textarea
            [(ngModel)]="productDetails.description"
              id=""
              name="productDescription"
              rows="4"
              class="form-control"
              placeholder="Enter a description..."
              formControlName="productDescription"
            ></textarea>
          </div>
          <div class="category">
            <div class="head d-flex align-items-center justify-content-between">
              <h4 class="category-header product-header">Category</h4>
              <p class="add-category">
                <img src="assets\icons\product-plus-sign.svg" alt="" /> Add
                category
              </p>
            </div>
            <div
              class="radio-btn d-flex justify-content-between align-items-center"
            >
              <input
                type="radio"
                id="dresses"
                name="category"
                value="Dresses"
                formControlName="category"
              />
              <label for="category1">Dresses</label>
              <input type="radio" id="tops" name="category" value="Tops" />
              <label for="category2">Tops</label>
              <input
                type="radio"
                id="sneaker"
                name="category"
                value="sneaker"
                formControlName="category"
              />
              <label for="category3">Sneakers</label>
              <input
                type="radio"
                id="accessories"
                name="category"
                value="accessories"
                formControlName="category"
              />
              <label for="category4">Accessories</label>
            </div>
          </div>
          <div class="product-status">
            <div
              class="heading d-flex justify-content-between align-items-center"
            >
              <h4 class="product-status-header product-header">
                Product Status
              </h4>
              <div class="status">Not Active</div>
            </div>
          </div>
        </div>
        <div class="add-media">
          <div class="media-heading">
            <h4 class="media-header">Add Media</h4>
            <p class="media-paragraph">
              Add up to 4 images to your product images, videos, or 3D models
            </p>
          </div>
          <div class="media-input-div">
            <div>
              <div class="image-container">
                <!-- Use ngFor to iterate over images and use ngIf to check the index for top/bottom row -->
                <ng-container
                  *ngFor="let image of images; let i = index"
                  class="d-flex"
                >
                  <img
                    *ngIf="i < 2"
                    [src]="image"
                    class="uploaded-image top-image"
                  />
                  <img
                    *ngIf="i >= 2"
                    [src]="image"
                    class="uploaded-image bottom-image"
                  />
                </ng-container>
              </div>
            </div>
            <div class="drag-and-drop text-center" *ngIf="showDragAndDrop()">
              <div class="cloud">
                <img src="assets\icons\cloud.svg" alt="" />
              </div>
              <p class="drag-drop-images">
                Drag and drop <br />
                images or
              </p>
              <p class="add-file" (click)="fileInput.click()">
                <img src="assets\icons\product-plus-sign.svg" alt="" /> Add file
                <input
                  type="file"
                  #fileInput
                  name="file"
                  (change)="onFileSelected($event)"
                  style="display: none"
                  accept="image/*"
                  multiple
                  formControlName="productImages"
                />
              </p>
              <p class="only-png">
                Only PNG, JPG format allowed. <br />
                500 by 500 pixels allowed.
              </p>
            </div>
          </div>
          <div class="media-sizes">
            <div class="head d-flex align-items-center justify-content-between">
              <h4 class="size-header product-header">Size</h4>
              <p class="add-size">
                <img src="assets\icons\product-plus-sign.svg" alt="" /> Add Size
              </p>
            </div>
            <span class="media-size">XS</span>
            <span class="media-size">S</span>
            <span class="media-size">L</span>
            <span class="media-size">XL</span>
            <span class="media-size">XXL</span>
          </div>
          <div class="media-colours">
            <div class="head d-flex align-items-center justify-content-between">
              <h4 class="colour-header product-header">Colour</h4>
              <p class="add-colour">
                <img src="assets\icons\product-plus-sign.svg" alt="" /> Add
                Colour
              </p>
            </div>
            <span class="media-colour blue"></span>
            <span class="media-colour yellow"></span>
            <span class="media-colour green"></span>
            <span class="media-colour black"></span>
            <span class="media-colour red"></span>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
