<div class="main-container" style="position: relative">
  <section class="add-product">
    <div class="form">
      <div
        class="product-save d-flex align-items-center justify-content-between"
      >
        <div class="product-name">
          <h4 class="product-header">Product</h4>
        </div>
        <div class="save-cancel">
          <button
            type="button"
            class="btn cancel-btn"
            [routerLink]="['/merchant/product']"
          >
            Cancel
          </button>

          <button type="submit" class="btn btn-primary">
            <span
              (click)="onSubmit()"
              class="saving"
              *ngIf="!isLoading && !dataService.isProductUpdateInstance"
            >
              Save</span
            >
            <span
              (click)="onUpdate()"
              class="saving"
              *ngIf="!isLoading && dataService.isProductUpdateInstance"
            >
              Update</span
            >
            <span class="loading" *ngIf="isLoading" style="padding: 0 0.45rem"
              ><img
                src="assets\icons\loading-btn-spinner.svg"
                alt="Loading.."
                style="width: 1.5rem"
            /></span>
          </button>
        </div>
      </div>
      <div class="details-media d-flex justify-content-around">
        <div class="product-details">
          <h3 class="product-details-header product-header">Product details</h3>
          <p class="product-details-paragraph product-paragraph">
            Add information for the product you are creating
          </p>
          <div class="form-group">
            <label for="product-name" class="label-name">Product Name</label>
            <input
              [(ngModel)]="productDetails.name"
              type="tel"
              id="product-name"
              class="form-control"
              placeholder="Enter product name"
              maxlength="50"
            />
            <p class="product-paragraph">
              Do not exceed 50 characters when entering product name
            </p>
          </div>

          <div
            class="form-group price-stock d-flex justify-content-between align-items-center name-email"
          >
            <div class="price-input-tag">
              <label for="price" class="label-name">Price</label>
              <input
                [(ngModel)]="productDetails.price"
                type="number"
                id="price"
                class="form-control"
                placeholder="$"
              />
            </div>
            <div class="stock">
              <label for="stock" class="label-name">Stock</label>
              <input
                [(ngModel)]="productDetails.quantity"
                type="number"
                id="stock"
                class="form-control"
                placeholder="1"
              />
            </div>
          </div>

          <div class="form-group description-div">
            <label for="Description" class="label-name">Description</label> 
            <ckeditor
              [editor]="Editor"
              [(ngModel)]="productDetailss.description"
            ></ckeditor>
          </div>
          <div class="category">
            <div class="head d-flex align-items-center justify-content-between">
              <h4 class="category-header product-header">Category</h4>
              <p
                data-bs-toggle="modal"
                data-bs-target="#addCategory"
                class="add-category"
              >
                <img src="assets\icons\product-plus-sign.svg" alt="" /> Add
                category
              </p>
            </div>
            <div
              class="radio-btn d-flex justify-content-between align-items-center"
            >
              <mat-radio-group
                color="primary"
                class="example-radio-group"
                [(ngModel)]="productDetails.category"
              >
                @for (cat of categories; track cat) {

                <mat-radio-button class="example-radio-button" [value]="cat">{{
                  cat
                }}</mat-radio-button>
                }
              </mat-radio-group>
            </div>
          </div>
          <div class="product-status">
            <div
              class="heading d-flex justify-content-between align-items-center"
            >
              <h4 class="product-status-header product-header">
                Product Status
              </h4>
              <div class="status">{{ displayedStatus }}</div>
            </div>
            <select
              class="form-group form-control"
              (change)="onStatusChange($event)"
            >
              <option value="true">Active</option>
              <option value="false">Not Active</option>
            </select>
          </div>
        </div>
        <div class="add-media">
          <div class="media-heading">
            <h4 class="media-header">Add Media</h4>
            <p class="media-paragraph">
              Add up to 4 images to your product images, videos, or 3D models
            </p>
          </div>
          <div class="media-input-div">
            <div>
              <div class="image-container">
                <ng-container
                  *ngFor="let image of images; let i = index"
                  class="d-flex"
                >
                  <img
                    *ngIf="i < 2"
                    [src]="image"
                    class="uploaded-image top-image"
                  />
                  <img
                    *ngIf="i >= 2"
                    [src]="image"
                    class="uploaded-image bottom-image"
                  />
                </ng-container>
              </div>
            </div>
            <div class="drag-and-drop text-center" *ngIf="showDragAndDrop()">
              <div class="cloud">
                <img src="assets\icons\cloud.svg" alt="" />
              </div>
              <p class="drag-drop-images">
                Drag and drop <br />
                images or
              </p>
              <p class="add-file" (click)="fileInput.click()">
                <img src="assets\icons\product-plus-sign.svg" alt="" /> Add file
                <input
                  type="file"
                  #fileInput
                  name="file"
                  (change)="onFileSelected($event)"
                  style="display: none"
                  accept="image/*"
                  multiple
                />
              </p>
              <p class="only-png">
                Only PNG, JPG format allowed. <br />
                500 by 500 pixels allowed.
              </p>
            </div>
          </div>
          <div
            class="variation-block d-flex justify-content justify-content-between align-items-center"
          >
            <h5 class="variation-header">Variations</h5>
            <p
              class="add-variation"
              data-bs-toggle="modal"
              data-bs-target="#addSize"
            >
              <img src="assets\icons\product-plus-sign.svg" alt="" /> Add
              variation
            </p>
          </div>
          <div
            class="media-sizes"
            *ngFor="let variation of DisplayedVariationArray"
          >
            <div class="head d-flex align-items-center justify-content-between">
              <h4 class="size-header product-header">{{ variation.type }}</h4>
            </div>
            <span class="media-size" *ngFor="let value of variation.values">{{
              value
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="addCategory"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body upload-modal" style="margin: 43px">
        <div class="input-group mb-3">
          <div action="" class="">
            <h6 class="model head">Add category</h6>
            <div
              class="form-group d-flex align-items-center justify-content-between"
            >
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="inputText"
              />
              <button
                class="btn btn-primary"
                style="margin-left: 1rem"
                (click)="addCategory()"
              >
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end" style="margin-top: 54px"></div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addSize"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body upload-modal" style="margin: 43px">
        <div class="input-group mb-3">
          <div action="" class="">
            <h6 class="model head">Add Variation</h6>
            <div
              class="form-group d-flex align-items-center justify-content-between"
            >
              <div class="form-group key-value">
                <label for="type">Type: </label>
                <input
                  type="text"
                  name="type"
                  placeholder="Ex: Size"
                  id="variationKey"
                  class="form-control"
                  #key
                  [(ngModel)]="variationKey"
                />
              </div>
              <div class="form-group key-value">
                <label for="value">Value:</label>
                <input
                  type="text"
                  name="value"
                  placeholder="Ex: XL"
                  id="variationValue"
                  [(ngModel)]="variationValue"
                  class="form-control"
                  #variValue
                  (keyup.enter)="addVariation(key.value, variValue.value)"
                />
              </div>
            </div>
            <div class="variation-btn">
              <button
                class="btn btn-primary add-cat-btn"
                (click)="addVariation(key.value, variValue.value)"
              >
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end" style="margin-top: 54px"></div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addColor"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body upload-modal" style="margin: 43px">
        <div class="input-group mb-3">
          <div action="" class="">
            <h6 class="model head">Add Color</h6>
            <div
              class="form-group d-flex align-items-center justify-content-between"
            >
              <input
                type="color"
                name=""
                id=""
                placeholder="Click"
                class="form-control"
                [(ngModel)]="inputColor"
                style="width: 6rem"
              />
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end" style="margin-top: 54px"></div>
      </div>
    </div>
  </div>
</div>
